.baseball{background:url('../../images/baseball.png') no-repeat left 70px;background-attachment:fixed;background-size:210px auto;}
.black ul.left_links li a:hover{color:#000000;}
.black ul.left_links li ul li:hover{color:#000000;}
.black .buy_tip{background:#000000;}
@media (max-width:1024px) {
	.baseball{background-position:left bottom;}
}
