.red ul.left_links li a:hover{color:#ed281b;}
.red ul.left_links li ul li:hover{color: #ed281b;}
.red .buy_tip{background:#ed281b;}
.boxing{background:url('../../images/boxing.png') no-repeat left bottom;background-attachment:fixed;}

