.cricket{background:url('../../images/cricket.png') no-repeat right 50px;background-attachment:fixed;}
.blue .buy_tip{background:#2888c9;}
.blue ul.left_links li a:hover{color:#2888c9;}
.blue ul.left_links li ul li:hover{color: #2888c9;}
@media (max-width:1024px) {
	.cricket{background-position:right bottom;}
}
