.black ul.left_links li a:hover{color:#000000;}
.black ul.left_links li ul li:hover{color: #000000;}
.black .buy_tip{background:#000000;}
.golf{background:url('../../images/golf.png') no-repeat left 70px;background-attachment:fixed; background-size:270px auto;}
@media (max-width:1024px) {
	.golf{background-position:left bottom;background-attachment:inherit;}
}
