.dark_red ul.left_links li a:hover{color:#b41414;}
.dark_red ul.left_links li ul li:hover{color:#b41414;}
.dark_red .buy_tip{background:#b41414;}
.martial{background:url('../../images/martial.png') no-repeat right bottom;background-attachment:fixed;background-size:250px auto;}
