﻿@font-face {
    font-family: 'tradegothicbold_condensed';
    src: url('../fonts/tradegothic-boldcondtwenty-webfont.eot');
    src: url('../fonts/tradegothic-boldcondtwenty-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.woff') format('woff'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.svg#tradegothicbold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;
	
}
@font-face {
    font-family: 'tradegothiccondensed';
    src: url('../fonts/tradegothic-condeighteen-webfont.eot');
    src: url('../fonts/tradegothic-condeighteen-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-condeighteen-webfont.woff') format('woff'),
         url('../fonts/tradegothic-condeighteen-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-condeighteen-webfont.svg#tradegothiccondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}ul , li{
	list-style:none
}
* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    text-transform: inherit;
}
a, input, select, textarea {
    outline: medium none !important;
}
body {
    font-family: 'tradegothiccondensed', arial;
    font-size: 13px;
    font-weight: normal;
    background-attachment:fixed;
    background:#dcdcdc;
}
div {
    vertical-align: top;
}
.clear {
    clear: both;
    font-size: 0;
    height: 0;
}
img {
    border: medium none;
    max-width: 100%;
    outline: 0 none;
    vertical-align: top;
}
a {
    cursor: pointer;
    text-decoration: none;
}
.login_outer{
	width:310px;
	margin:auto;
	content:"";
	clear:both;
	display:block;
	margin-top:65px;
}
.login{
	width:214px;
	margin:auto;
	margin-top:20px;
	text-transform:uppercase;
}
.login input[type=text], .login input[type=password]{
	background:#fff;
	width:100%;
	height:32px;
	border-radius:2px;
	text-align:center;
	margin-bottom:13px;
	border:none;
	font-size:16px;
}
.forgot{
	color:#7a7a7a;
	font-size:13px;
	margin:6px 2px;
	font-size:11px;
}
.login span{
	color:#7a7a7a;
	font-size:13px;
	margin:6px;
	font-size:11px;
	float:left;
}

.login_btn{
	background:#b41414;
	width:100%;
	display:block;
	height:32px;
	border-radius:2px;
	text-transform:uppercase;
	text-align:center;
	color:#ffffff;
	border:none;
	font-size:16px;
	padding:5px 0px;
	margin-bottom:5px;
}
.login_btn_twitter{
	background:#b41414;
	width:100%;
	display:block;
	height:32px;
	border-radius:2px;
	text-transform:uppercase;
	text-align:center;
	color:#ffffff;
	border:none;
	font-size:16px;
	padding:5px 0px;
	margin-bottom:5px;
}
.f_btn{
	background:#37608c;
	margin-bottom:10px;
	}
.t_btn{
	background:#0fb3ee;
	margin-bottom:10px;
	}
.g_btn{
	background:#b41414;
	}
.social_support{
	display:block;
	text-align:center;
	font-size:14px;
	text-transform:uppercase;
	clear:both;
	color:#7a7a7a;
	letter-spacing:1px;
}
nav{position:fixed; width:100%;left:0px;top:0px;}
.home{
	background:url('../../images/login_img.png') no-repeat right bottom;
	position:fixed;
	width:100%;
	height:100%;
}
/*
.sport{background:url('../../images/sport.png') no-repeat right 70px; background-attachment:fixed; background-size:300px auto;}
.green ul.left_links li a:hover{color:#65D2D0;}
.green .buy_tip{background:#60D1CF;}
.blue ul.left_links li a:hover{color:#2888c9;}
.blue .buy_tip{background:#2888c9;}
.red ul.left_links li a:hover{color:#ed281b;}
.red .buy_tip{background:#ed281b;}
.black ul.left_links li a:hover{color:#000000;}
.black .buy_tip{background:#000000;}
.dark_red ul.left_links li a:hover{color:#b41414;}
.dark_red .buy_tip{background:#b41414;}
.orange ul.left_links li a:hover{color:#ffc814;}
.orange .buy_tip{background:#ffc814;}
.sky ul.left_links li a:hover{color:#0fb3ee;}
.sky .buy_tip{background:#0fb3ee;}


.tennis{background:url('../../images/tennis.png') no-repeat left 60px;background-attachment:fixed; background-size:205px auto;}
.boxing{background:url('../../images/boxing.png') no-repeat left bottom;background-attachment:fixed;}
.cricket{background:url('../../images/cricket.png') no-repeat right 50px;background-attachment:fixed;background-size:215px auto;}
.golf{background:url('../../images/golf.png') no-repeat left 70px;background-attachment:fixed; background-size:270px auto;}
.baseball{background:url('../../images/baseball.png') no-repeat left 70px;background-attachment:fixed;background-size:210px auto;}
.football{background:url('../../images/football.png') no-repeat left 60%;background-attachment:fixed;background-size:270px auto;}
.ice_hockey{background:url('../../images/ice_hockey.png') no-repeat left 100px;background-attachment:fixed;background-size:350px auto;}
.rugby{background:url('../../images/rugby.png') no-repeat right 50px;background-attachment:fixed;background-size:250px auto;}
.surfing{background:url('../../images/surfing.png') no-repeat left 50px;background-attachment:fixed;background-size:340px auto;}
.amarican_football{background:url('../../images/amarican_football.png') no-repeat left bottom;background-attachment:fixed;background-size:265px auto;}
.motor_sport{background:url('../../images/motor_sport.png') no-repeat left bottom;background-attachment:fixed;background-size:450px auto;}
.martial{background:url('../../images/martial.png') no-repeat right bottom;background-attachment:fixed;background-size:250px auto;}
.amarican_rule{background:url('../../images/amarican_rule.png') no-repeat right bottom;background-attachment:fixed;background-size:250px auto;}
*/
header{
	display:block;
	height:43px;
	background:#ffffff;
	padding:10px;
	text-transform:uppercase;
	color:777;
	position:fixed;
	width:100%;
	z-index:1;
}
header span{
	padding:0px 5px;
	line-height:25px;
	color:#777;
}
header span b{color:#000;}
.search{
	width:200px;
	height:25px;
	box-shadow:0px 2px 0px #ddd;
	background:url('../../images/search.png') right center no-repeat;
	padding:0px 30px 0px 5px;
	border:none;
	border-radius:5px;
	float:right;
	text-transform:uppercase;
}
.media_link{
	float:right;
	margin-right:10px;
	margin-top:5px;
}
.media_link a{
	display:inline-block;
}
.sports_outer{
	width:640px;
	margin:auto;
	content:"";
	clear:both;
	display:block;
	margin-top:122px;
}
.sell_buy{
	display:block;
	text-align:center;
	color:#347db2;
	font-size:35px;
	margin-top:30px;
}
.sell_buy_select{
	border:2px solid #347db2;
	border-radius:10px;
	display:inline-block;
	width: auto;
	height:43px;
}
.sell_buy_select span{
	border:2px solid #dcdcdc;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	line-height:35px;
	float:left;
	padding: 0 7px;
	border-radius:7px;
	cursor:pointer;
}
.sell_buy_select span.sel{
	border:2px solid #347db2;
	background:#347db2;
	color:#fff;
	padding:0px 7px;
}
.sell_buy_select span.sel a{color:#fff;}
ul.sports_list{
	list-style:none;
	display:block;
	margin-top:40px;
}
ul.sports_list li{
	display:inline-block;
	margin-bottom:13px;
}
ul.sports_list li a{
	display:block;
	color:#000;
	font-size:18px;
	text-transform:uppercase;
	text-align:left;
	padding-bottom:7px;
	border-bottom:1px solid #ffffff;
}
ul.sports_list li a.no_border{
	border:none;
}
.main_outer{
	margin-top:70px;
	margin-bottom:50px;
}
.content{
	display:block;
	margin-top:5px;
	text-align:left;
	min-height:660px;
	position:relative;
}
.bet_placed{background:#444;color:#fff !important;}
.bet_placed_color{color:#fff!important;}
.sort{
	font:12px 'tradegothicbold_condensed';
	padding:10px 0px;
	display:block;
	text-align:center;
	border-top:1px solid #ffffff;
	margin-top:5px;
	position:absolute;
	top:0px;
	width:800px;
	background:#dcdcdc;
	padding-left:134px;
	z-index:1;
	}
.sort span{
	display:inline-block;
	color:#7a7a7a;
	text-transform:uppercase;
}
.sort a{
	display:inline-block;
	color:#7a7a7a;
	padding:0px 5px;
	
}
.time_sort{
color:#7A7A7A;
}
ul.left_links{
	font-size:13px;
	list-style:none;
	width:150px;
	display:inline-block;
	padding-top:54px;
	
}
ul.left_links ul{
	display:none;
}
ul.left_links li:hover > ul{
	display:block;
	cursor:pointer;
	color: #777777;
}
ul.left_links ul li{
	list-style:outside;
	margin-left:12px;
}
ul.left_links li a{
	display:block;
	color:#777;
	text-transform:uppercase;
	padding:4px 0px;
}
ul.left_links li span{
	font:12px 'tradegothicbold_condensed';
	color:#000;
	text-transform:uppercase;
}
ul.left_links li a:hover{
	/*color:#65d2d0;*/
	}
.right_content{
	width:645px;
	display:inline-block;
	float:right;
	padding-top:54px;
	position: relative;
	margin-bottom:28px;
}
.blog{
	width:307px;
	height:auto;
	text-transform:uppercase;
	display:inline-block;
	margin-right:27px;
	margin-bottom:45px;
}
.number{
	font:66px 'tradegothicbold_condensed';
	color:#fff;
	width:68px; position:relative; z-index:0;
	display:inline-block;
	margin-top:-8px;
}
.number span{
	font:33px 'tradegothicbold_condensed';
	vertical-align:top;
}
.number sub{
	vertical-align:super;
	letter-spacing:-8px;
}
.blog_img{
	width:76px;
	display:inline-block;
}
.buy_tip{
	color:#ffffff;
	display:block;
	text-align:center;
	border-radius:3px;
	margin-top:10px;
}
.blog_dis{
	width:150px;
	display:inline-block;
	margin-left:5px;
}
.blog_dis h1{
	font:13px 'tradegothicbold_condensed';
	color:#000;
	margin:0px 0px 5px;
}
.blog_dis h1 img{
	margin-top:2px;
}
.blog_row{
	padding:2px 0px 1px;
	border-bottom:1px solid #ffffff;
	color:#777777;
	width:100%;
	float:left;
}
div.blog_row:last-child{
	border:none;
}
.right_content > div.blog:nth-child(2n+2){
	margin-right:0px;
}
footer{
	color:#ffffff;
	font-size:11px;
	background:url('../../images/footer_bg.png') no-repeat 10px center #000000;
	text-align:center;
	padding:10px 60px;
	position:fixed;
	width:100%;
	bottom:0px;
}
.username{
	font:30px 'tradegothicbold_condensed';
	color:#ffffff;
	margin-top:-8px;
	line-height:32px;
}
.but_tip_coach{
	display:block;
	margin-top:20px;
	color:#777;
}
.but_tip_coach span{
	padding:10px 0px;
	border-bottom:1px solid #ffffff;
	color:#ffffff;
	font-size:18px;
	text-transform:uppercase;
	display:block;
}
.but_tip_coach span:last-child{
	border:none;
}
.but_tip_coach a{
	display:inline-block;
	float:right;
	background:#2888c9;
	color:#ffffff;
	text-align:center;
	border-radius:3px;
	margin-top:4px;
	font-size:12px;
	padding:2px 10px 1px;
	margin-right:5px;
}
.coach_blog{
	margin-left:80px;
}

.stickyribbon {
        color: #fff;
        width:150px; 
        display:inline-block;
}
#page_content {
       display:inline-block;
       float:right;
}
.nav{
	display:block;
	list-style:none;
	background:#65D2D0;
	top:43px;
	left:0px;width:100%;
	z-index:1;
}
.nav li{
	display:block;
}
.nav li a{
	display:block;
	padding:5px 10px;
	color:#ffffff;
}
.user_name{
	cursor:pointer;
}
.error{
border:1px solid red !important;
}

/****************************** amarican-compition ***********************************/
.title{
	display:block;
	color:#ffffff;
	font-size:22px;
	font-family: 'tradegothicbold_condensed';
}
.teams{
	display:block;
	color:#000;
	font-size:24px;
	font-family: 'tradegothicbold_condensed';
	text-transform:uppercase;
	cursor:pointer;
}
.teams span{
	width:45%;
	display:inline-block;
	text-align:center;
}
.teams p{
	width:10%;
	text-align:center;
	display:inline-block;
	width:auto;
	margin:0px;
}
.tournament{
	margin-bottom:20px;
}
ul.com_list li a{
	text-align:center;
}
.tip{
	display:block;
	color:#000;
	font-size:24px;
	font-family: 'tradegothicbold_condensed';
	text-transform:uppercase;
	padding-left:13%;
	margin-bottom:60px;
}
.tip_btn{
	padding:6px 38px;
	float:right;
	font-size:14px;
	color:#ffffff;
	background:#ed281b;
	border-radius:5px;
}
.popup_inner_placed a{float:left;}
.team_names{
	color:#737373;
	text-transform:uppercase;
	text-align:center;
	font-size:24px;
	border-bottom:1px solid #ffffff;
}
.team_names p{
	font-size:14px;
	margin:0px;
}
.curn_tip{
	width:40%;
	display:inline-block;
	vertical-align:top;
	margin-top:0px;
	margin-right:5%;
}
.current_blog{
	margin-left:0px;
	display:inline-block;
}
h1 a
{
text-decoration:none;
color:black;
}
ul.place_sports_list li {
	display:block;
	color:#000;
	font-size:18px;
	text-transform:uppercase;
	text-align:left;
	padding-bottom:7px;
	border-bottom:1px solid #ffffff;
	line-height:30px;
	cursor:pointer;
}

.widthdraw_heading{
	font-size:22px;
	font-family: 'tradegothicbold_condensed';
	color:#ffffff;
	border-bottom:1px solid #ffffff;
	margin-bottom:12px;
	text-transform:uppercase;
}
.widthdraw p{
	margin-bottom:0px;
}
.widthdraw span{
	border:none;
	display:block;
	clear:both;
	font-size:17px;
	padding:5px 0px;
}
.widthdraw p b{
	color:#000;
	font-family:'tradegothicbold_condensed';
}
.widthdraw a{
	margin-top:0px;
}
.input_txt{
	width:183px;
	height:27px;
	background:#ffffff;
	padding:4px;
	border:none;
	display:inline-block;
}
.widthdraw label{
	width:120px;
	font-size:17px;
	padding-right:5px;
	display:inline-block;
	color:#ffffff;
	text-align:right;
	padding-top:6px;
}
.widthdraw input[type=radio]{
	width:auto;
	margin-top:3px;
	display:inline-block;
	height:auto;
}
label.option{
	width:auto;
	font-size:14px;
	text-transform: none;
	color:#000;
	margin-right:10px;
}
.result_img{
	width:170px;
	height:auto;
	overflow:hidden;
	padding:5px;
	background:#f5f5f5;
	display:inline-block

}
.result_img img{
	display:inline-block
}
.result_blog{
	width:auto;
	display:inline-block;
	margin:6px;
	border:2px solid #f5f5f5;
	background:#f5f5f5;
	padding-bottom:5px;
	border-radius:3px;
}
.result_blog span{
	display:block;
	font-size:18px;
	font-family: 'tradegothicbold_condensed';
	color:#2888C9;
	padding:0px 5px;
}
.result_blog p{
	font-size:16px;
	color:#777;
	text-transform:none;
	padding:0px 5px;
}
.container{
	padding-bottom:50px;
}
.result_detail{
	background:#f5f5f5;
	display:block;
	padding:5px 10px;
	margin:0px 10px 0px 6px;
	position:relative;
	border:2px solid #f5f5f5;
}
.cap{
	content: '';
	display: inline-block;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #f5f5f5;
	position: absolute;
	top: -8px;
	left: 13px;
}
.result_detail h1{
	width:100%;
	text-align:center;
	color:#444;
	margin:0px;
	font-size:20px;
	color:#2888C9;
}
.wiresult{
	padding-left:77px;
}
.error_message {
	background: none repeat scroll 0 0 #000000;
    float: left;
    margin-top: 15px;
    padding: 5px 0;
    text-align: center;
    }
.menu1{
	display:block;
	padding:5px;
	border:1px solid #fff;
	font-size:16px;
	font-family:'tradegothicbold_condensed';
	color:#333;
	display:none;
	text-transform:uppercase;
}
.menu_icon{
	width:23px;
	height:16px;
	background:url('../../images/menu1.png') no-repeat;
	float:right;
	margin:2px;
}
/*/////////////////////////////////// popup container ////////////////////////////////*/
.popup_container{
	width:100%;
	height:100%;
	background:url(../../images/popup_bg.png) repeat;
	position:fixed;
	display:none;
	z-index:100;
	}
.popup_outer{
	width:403px;
	height:auto;
	margin:auto;
	}		
.popup_inner{
	 background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    font-size: 19px;
    height: auto;
    margin: 207px auto auto;
    padding: 24px 58px 31px;
    position: relative;
     width: 403px;
   }	
.popup_inner a{position:absolute;right:5px;top:5px;}

.popup_container_placed{
	width:100%;
	height:100%;
	background:url(../../images/popup_bg.png) repeat;
	position:fixed;
	display:none;
	z-index:100;
	}
.popup_outer_placed{
	width:403px;
	height:auto;
	margin:auto;
	}		
.popup_inner_placed{
	 background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    font-size: 19px;
    height: auto;
    margin: 207px auto auto;
    padding: 24px 58px 31px;
    position: relative;
     display:table;
   }	
   .tip_status{
   font-size: 14px;
    margin-left: 8px;
   
   }
.popup_inner_placed a{position:absolute;right:5px;top:5px;}
/*/////////////////////////////////// popup container Close////////////////////////////////*/
.result_row{
	display:block;
	border-bottom:1px solid #ffffff;
	padding:10px 0px;
	color:#ffffff;
	font-size:18px;
	margin:0px 15px;
}
.result_row1{
	float:left;
	color: #FFFFFF;
    display: block;
    padding: 10px 0;
    text-align: left;
     margin-left: -40px;
}
.result_date{
	font-family:'tradegothicbold_condensed';
}
.result_detail1{
	display:table;
	width:100%;
}
.newsfeed{
text-decoration:none;
color:white;
font-size: 15px;
}
a.newsfeed:hover{
color:#347DB2 !important;
text-decoration:none;
font-size: 15px;
}
.result_detail1 section{display:table-cell;width:30%;}
.result_detail1 section span{display:inline-block;}

/*/////////////////////////////////////// how place work ////////////////////////////////////////*/

.tips_outer{
	width:385px;
	height:auto;
	display:inline-block;
	margin-top:30px;
}
.tip_list{
	display:block;
	text-align:left;
	text-transform:uppercase;
}
.tip_list h1{
	font-size:21px;
	color:#347db2;
	background:url('../../images/ball.png') left top no-repeat;
	padding-left:30px;
}
.tip_list p{
	font-size:13px;
	color:#7a7a7a;
	padding-left:30px;
}
/************************New place tip CSS starts here**********************************/

.select-wrapper select {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    outline: medium none;
    position: absolute;
    z-index: 2;
}
.select-wrapper, .select-wrapper select {
    border-radius: 0;
    height:37px;
    line-height:37px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width: 100%;
}
.holder {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    padding-left: 10px;
    width: 100%;
    font-size:13px;
    color:#777;
}
.select-wrapper {
    
    cursor: pointer;
    display: inline-block;
    margin-left: 0;
    vertical-align: middle;
   
    background-repeat:repeat-y;
	background-position:right center;
	background-color:none;

}

.custom-select > option {
    color: #7a7a7a;
    font-size: 13px;
    padding: 3px 7px;
}
.select-box {
    display: inline-block;
    width: 100%;
    margin-bottom:8px;
}

.select-outer {
    border-radius: 5px;
    display: inline-block;
    position: relative;
    width: 189px;
}
.drop-arrow {
  background-color:#ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 218px;
  background-image: url('../images/tringle.png');
  background-position:95% 13px;
  background-repeat:no-repeat;
}
.table-upper{
	border-top:1px solid #fff;
}
.table-upper .table{
	border:1px solid #fff;
	display:table;
	width:100%;
	margin-top:20px;
}
.table-row {
  display: table-row;
  width: 100%;
}
.table-cell {
  border-right: 1px solid #ffffff;
  display: table-cell;
  padding: 10px 12px 8px;
  border-bottom:1px solid #fff;
  cursor:pointer;
}
.table-row:last-child .table-cell{
	border-bottom:none;
}
.table-row h2 {
  color: #777777;
  font-size: 14px;
  text-transform: uppercase;
  margin:0px;
}
.table-row h1 {
  color: #000000;
  font-size: 18px;
  margin: 0;
  min-height: 30px;
  padding: 5px 0;
  text-transform: uppercase;
}
.table-cell span {
  color: #b72121;
  font-size: 16px;
  text-transform: uppercase;
   padding-top: 2px;
   display:block;
}
.table-row h5 {
  color: #ffffff;
  font-size: 13px;
  margin: 0;
  min-height: 14px;
  display:inline;
}
.table-cell:last-child {
  border-right: medium none;
}
.value-cell {
  width: 106px;
}
.table-row .selected {
  background: none repeat scroll 0 0 #b72121;
}
.table-row .selected span , .table-row .selected h2{
	color:#fff;
}
.panel {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium;
  border-radius: 0;
  margin: 0 !important;
}
.accordion1 .panel {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-bottom: 1px solid #fff;
  border-radius: 0px !important;
  margin: 0;
  box-shadow:none;
}
.accordion1 .panel-group .panel + .panel{
	margin:0px !important;
}	 
.accordion1 .panel-heading{
	background:none !important;
}
.panel-heading{
	font-size:18px;
	color:#000000;
	text-transform:uppercase;
	font-family:"tradegothicbold_condensed";
	padding:10px 0;
}
.accordion1 .inner-detail {
 
  padding:0;
}
.accordion1 .media-body > ul {
  margin-bottom: 0;
}
.accordion1 .media-body li {
  border-top: 1px solid #ffffff;
  display: block;
  padding:0px 40px;
}
.left-area {
  color: #000000;
  display: inline-block;
  font-size: 16px;
  padding: 10px 30px;
  width: 87%;
}
.right-area {
  border-left: 1px solid #FFFFFF;
  color: #B41414;
  display: inline-block;
  float: right;
  font-size: 16px;
  padding: 10px 20px;
  width: 13%;
  cursor:pointer;
}
.accordion1 .panel-title > a{
	display:block;
	position:relative;
}
.accordion1 .panel-title a:after{
	content:url('../../images/collapse-before.png');
	position:absolute;
	right:20px;
	top:0px;
}
.comp_grey > div{display:table-cell; background:#eee;}
.advertise > a{position:fixed;left:50%;top:47px;margin-left:-360px;}

/************************New place tip CSS End here**********************************/
@media (max-width:1200px) {	.login_outer{margin:65px auto;}}
@media (max-width:991px) {
	.sports_outer{width:auto; display:block;}
	 ul.sports_list li a.no_border{border-bottom:1px solid #ffffff;}
	 .right_content{width:645px;}
	 .coach_blog{margin-left:0px;}
	 .sort{width:800px;}
	 /** new responsive **/
	 .table-upper .table{
	width:600px;
}
.table-upper{
	overflow-y:auto;
}
.advertise > a{position:relative;}
/*.advertise > a img{margin-bottom:50px;}*/
	  }
	  
@media (max-width: 835px){
	.right_content{width:305px;}
	.sort{padding-left:0px;}
}
@media (max-width:1060px){.search{display:none;}} 
@media (max-width:1024px) {
	.cricket, .rugby, .martial, .amarican_rule, .sport{background-position:right bottom;background-attachment:inherit!important;background:none!important;}
	.tennis, .boxing, .golf, .baseball, .football, .surfing, .amarican_football, .motor_sport, .ice_hockey{background-position:left bottom; background-attachment:inherit!important;background:none!important;}
	.home{height:830px;position:absolute;background:url('../../images/login_img.png') no-repeat right bottom;background:none!important;}
	.search{display:none;}
	.right-area,.left-area{
		padding:5px;
	}
	.accordion1 .media-body li{
		padding:0 10px;
	}
}
@media (max-width:836px) {
.table-upper .table{width:auto; display:block;}
.table-upper .table-row{display:block;border-bottom:1px solid #fff;}
.table-upper .table-cell{display:block;border:none;width:auto;}
.table-upper .table-cell h2{display:inline-block;width:49%;}
.table-upper .place_bet_notify span{display:inline-block;width:49%; text-align:right;}
.table-upper .value-cell{background:#eee; border-bottom:1px solid #ddd;}
.table-upper .comp_grey > div{display:none;}
.table-upper .comp_grey > div:first-child{display:block;background:none;}
}
@media (max-width:768px) {
	.sort{width:460px;}
	.login_outer{margin:65px auto;}
	.home{height:100%;}
	.advertise > a{position:fixed;left:0%;top:47px;margin-left:0px;}
	.advertise > a img{width:100%;height:auto;}
}
@media (max-width:580px) {
	ul.left_links{width:115px;}
	.coach_blog{display:block;}
	.stickyribbon{ display:block; position:static!important; width:auto;}
	#page_content{ float:left;}
	.container{ width:auto;}
	ul.left_links li a{border-bottom:1px solid #bbb;}
	ul.left_links{width:100%;}
	 .sort{width:100%; position:absolute;width:auto;}
	 .container{display:block; width:100%!important;}
	 .blog{margin-right:0px;}
	 	footer{position:static;}
	 	.stickyribbon{position:static!important;}
	 	.sort{position:static!important;}
	 	ul.left_links{padding-top:20px;}
	 	header{height:auto;}
	 	.right_content{display:inherit;margin:auto;float:none;padding-top:20px;}
		.number span{font-size:25px;}
		sub, sup {font-size: 52%;}
		sub{line-height:42px!important;}
		.number{font-size:52px;width:57px;}
		.number sub{letter-spacing:-3px;}
		.blog, .right_content{width:296px;}
		.main_outer{margin-bottom:0px;margin-top:80px;}
		.search{width:166px;}
		footer{padding:10px 10px 10px 60px;}
		.search{display:none;}
		.media_link, .search{display:none;}
		.menu1{display:block;}
		.popup_inner{width:90%;float:none;padding:24px 18px 31px; text-align:center;}
		.popup_inner_placed{width:90%;float:none;padding:24px 18px 31px; }
		.popup_outer{width:100%;}
		.popup_outer_placed{width:auto;}
		.popup_inner_placed a{float:none;margin-top:10px;display:inline-block;}
			/** new responsive **/
	.new-top {
  width: 100%;
}

		}
@media (max-width:380px) {
	.login_outer, .login{width:100%;}
	.search{width:166px;}
}


