

/*
 * header
 */
#header {
    position: relative;
    z-index: 99997;
    height: 38px;
	padding: 0 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0dede;
    background-color: #f7f7f7;
    background: linear-gradient(#fff, #f7f6f5);
    background: -moz-linear-gradient(#fff, #f7f6f5);
    background: -o-linear-gradient(#fff, #f7f6f5);
    background: -webkit-linear-gradient(#fff, #f7f6f5);
    box-shadow: 0 -1px 0 #fefcfc inset,0 0 4px rgba(0,0,0,.15);
    -moz-shadow: 0 -1px 0 #fefcfc inset,0 0 4px rgba(0,0,0,.15);
    -webkit-shadow: 0 -1px 0 #fefcfc inset,0 0 4px rgba(0,0,0,.15);
}
#header h1 {
    font-size: 16px;
    line-height: 38px;
    margin: 0;
}

/*
 * waterfall
 */
.item{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 192px;
    padding:0px;
    line-height: 1.5;
    background: url(../../images/loading.png) no-repeat center #292929;
    box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    filter: progid:DXImageTransform.Microsoft.Shadow(color = #adacac, direction = 135, strength = 2);
	border-radius:5px;
	overflow:hidden;
}
.item:hover .g_plus{display:block;}
.g_plus{
	width:44px;
	height:26px;
	float:right;
	position:absolute;
	right:10px;
	top:10px;
	background:url(../../images/g_plus.png) no-repeat center;
	display:none;
	}
.g_plus:hover{
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.9;
	}
.item img {
    display: block;
}

.item:hover {
    box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    -moz-box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    -webkit-box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
    filter: progid:DXImageTransform.Microsoft.Shadow(color = #979797, direction = 135, strength = 3);
}

#trigger {
	padding: 10px 30px 20px 30px;
}
#trigger a { margin-right: 30px;}

/*
 * page-navigation
 */
#page-navigation {
	text-align: center;
	padding: 20px 0 50px 0;
    display: none;
}
#page-navigation a {
	width:32px;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	border: 1px #e4e4e4 solid;
	text-decoration: none;
}
#page-navigation .page-navigation-prev, #page-navigation .page-navigation-next {
	display: inline-block;
	height: 32px;
	line-height: 32px;
	width: 80px !important;
}
#page-navigation a:hover {
	border: 1px #c30 solid;
	background: #c30;
	color: #fff;
}
#page-navigation a:active {
}
#page-navigation a.cur {
	border: 1px #c30 solid;
	background: #c30;
	color: #fff;
}
#page-navigation span.disabled {
	color: #ccc;
	border: 1px #e4e4e4 solid;
}

