﻿@font-face {
    font-family: 'tradegothicbold_condensed';
    src: url('../fonts/tradegothic-boldcondtwenty-webfont.eot');
    src: url('../fonts/tradegothic-boldcondtwenty-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.woff') format('woff'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.svg#tradegothicbold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tradegothiccondensed';
    src: url('../fonts/tradegothic-condeighteen-webfont.eot');
    src: url('../fonts/tradegothic-condeighteen-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-condeighteen-webfont.woff') format('woff'),
         url('../fonts/tradegothic-condeighteen-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-condeighteen-webfont.svg#tradegothiccondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular.eot') format('embedded-opentype'),
         url('../fonts/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova-regular.ttf') format('truetype'),
         url('../fonts/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}
@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('../fonts/proximanova-semibold.eot');
    src: url('../fonts/proximanova-semibold.eot') format('embedded-opentype'),
         url('../fonts/proximanova-semibold.woff') format('woff'),
         url('../fonts/proximanova-semibold.ttf') format('truetype'),
         url('../fonts/proximanova-semibold.svg#ProximaNovaSemibold') format('svg');
}
@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../fonts/proximanova-light.eot');
    src: url('../fonts/proximanova-light.eot') format('embedded-opentype'),
         url('../fonts/proximanova-light.woff') format('woff'),
         url('../fonts/proximanova-light.ttf') format('truetype'),
         url('../fonts/proximanova-light.svg#ProximaNovaLight') format('svg');
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot') format('embedded-opentype'),
         url('../fonts/proximanova-bold.woff') format('woff'),
         url('../fonts/proximanova-bold.ttf') format('truetype'),
         url('../fonts/proximanova-bold.svg#ProximaNovaBold') format('svg');
}
@font-face {
    font-family: 'tradegothicbold_condensed';
    src: url('../fonts/tradegothic-boldcondtwenty-webfont.eot');
    src: url('../fonts/tradegothic-boldcondtwenty-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.woff') format('woff'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.svg#tradegothicbold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;
	
}
@font-face {
    font-family: 'tradegothiccondensed';
    src: url('../fonts/tradegothic-condeighteen-webfont.eot');
    src: url('../fonts/tradegothic-condeighteen-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-condeighteen-webfont.woff') format('woff'),
         url('../fonts/tradegothic-condeighteen-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-condeighteen-webfont.svg#tradegothiccondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}
html{height:100%;}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
a{
	text-decoration:none;
}
li{
	list-style:none;
}
select{cursor:pointer;}
select option{padding-left:15px;}
*{
	margin:0px;box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:0px;
}
img{
	max-width:100%;
	vertical-align:middle;
	border:none;
	outline:none;
}

body{
	margin:0px;
	padding:0px;
	font-family: 'ProximaNovaRegular', arial;
	font-size:15px;
	color:#222222;
	background:#fff;height:100%; float:left;width:100%;
}
.container{

	margin:0px auto;
	text-align: left;
}

/* Header */

.header {
  display: inline-block;
  padding:20px 0;position: absolute;
  width: 100%;left:0;
}
.logo {
  display: inline-block;
  width: 20%;
}
.login_registration {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 79%;
}
.header_button {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #fbfcfe;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 7px 13px;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.6);
  margin-right: 5px;
}
.header_button:hover{
	background:#fff;
	color:#bb3838;
	text-shadow:inherit;
}
.registration {
  margin-left: 10px;
}
/* Header */
/* Banner */
.banner { background-image: url("../images/banner_bg1.jpg"); background-position: center top; background-repeat: no-repeat; display: inline-block; padding-top: 130px; text-align: center; width: 100%; background-size: cover; }
.left_text {
  display: inline-block;
  vertical-align: top;
  width:100%; max-width:504px;
}
.left_text h1 {
  color: #fff;
  font-family: "ProximaNovaLight";
  font-size: 50px;
  margin-top: 80px;
  text-shadow: 1px 0 1px rgba(51, 51, 51, 0.75);
}
.left_text h2 {
  color: #fff;
  font-family: "ProximaNovaSemibold";
  font-size: 50px;
  text-shadow: 1px 0 1px rgba(51, 51, 51, 0.75);
}
.left_text h5 {
  color: #ffffff;
  font-size: 22px;
  margin-top: 20px;
  text-shadow: 1px 0 1px rgba(51, 51, 51, 0.75);
}
.footer_txt {
 background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    border: 1px solid rgb(125, 125, 123);
    border-radius: 6px;
    box-shadow: 0 0 11px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto;
    padding: 25px 19px;
    width: 70%;
}
.left_text h5 span {
  font-family: "ProximaNovaBold";
}
.left_text h6 {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}
.left_text p {
  color: #ffffff;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 50px;
  margin-top: 40px;
}
.left_text a {
  background:rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  height: 52px;
  line-height: 52px;
  position: relative;
  text-align: center;
  width:100%; max-width:274px;
}
.right_image {
  display: inline-block;
  width:100%; max-width:412px;
}
/* Banner */

/* Feature content */
.features_content {
  background: none repeat scroll 0 0 #fff;
  display: inline-block;
  padding: 90px 0;
  width: 100%;
}
.features_content h1 {
  color: #222222;
  font-family: "ProximaNovaLight";
  font-size: 60px;
  text-align: center;
}
.features_content h1 span {
  color: #bb3838;
  font-family: "ProximaNovaSemibold";
}
.features_content h4 {
  font-family: "ProximaNovaLight";
  font-size: 30px;
  margin: 15px 0;
  text-align: center;
}
.system_knowledge {
  display: inline-block;
  margin-top: 25px;
  position: relative;
  width: 100%;
}
.left_like {
  background: url("../images/like.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
  display: inline-block;
  margin-right: 430px;
  padding-left: 33px;
  position: relative;
  vertical-align: top;
  width: 236px;
  z-index: 5;
   margin-top: 36px;
}
.left_like > p {
  padding-right: 12px;
}
.features_content h2 {
background: rgba(0, 0, 0, 0) url("../images/text_bg.png") no-repeat scroll left top;
    color: rgb(255, 255, 255);
    font-family: "ProximaNovaSemibold";
    font-size: 20px;
    padding: 6px 38px;
    margin-bottom: 12px;
}
.left_like img {
left: 213px;
    position: absolute;
    top: 69px;
}
.patron {
  background: url("../images/sell_tip.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
  display: inline-block;
  margin-top: 19px;
  padding-left: 38px;
  position: relative;
  vertical-align: top;
  width: 243px;
  z-index: 5; margin-top: 38px;
}
.spots {
  background: url("../images/cycle.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
  display: inline-block;
  margin-left: 246px;
  margin-top: 182px;
  padding-left: 28px;
  position: relative;
  vertical-align: top;
  width: 243px;
  z-index: 5;
}
.patron img {
 left: -149px;
    position: absolute;
    top: 111px;
}
.spots > img {
  left: 66px;
  position: absolute;
  top: -158px;
}
.mac-book {
  left: 19.5%;
  max-width: 558px;
  position: absolute;
  top: 5%;
  width: 100%;
  z-index: 2;
}
.row1 {
  display: inline-block;
  margin: 45px 0 0;
  text-align: center;
  width: 100%;
}
.lets-start {
  background: none repeat scroll 0 0 #1a1a1a;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  font-family: 'ProximaNovaSemibold';
  font-size: 22px;
  padding:11px 60px;
  width: auto;
}
/* Feature content */

/* Section */
.section {
  float: left;
  height: 300px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
.banner_img {
  background-image: url("../images/banner_bg_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding:150px 0;position: relative;
}
.banner_bg_1  {
  background-attachment: fixed;
  background-image: url("../images/banner_img_2.png");
  background-size: cover;
  padding: 150px 0;background-repeat: no-repeat;
  position: relative;
}
.banner_img_3{
  background-image: url("../images/footer_bg.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding:102px 0;
  position: relative;
}
.drop_arrow {
  left:48%;
  position: absolute;
  top: 0;
}
/* Section */

/* Winning chance */
.chance_winning_wrapper {
  background: url("../images/chance_winning_bg.png") no-repeat scroll 18% bottom rgba(0, 0, 0, 0);
  float: left;
  padding-top: 80px;
  position: relative;
  width: 100%;
  height: 491px;
}
.drop_arrow2 {
  left:48%;
  position: absolute;
  top: -30px;
}
.chance_winning_wrapper .phone {
  bottom: 0;
  float: left;
  position: absolute;
  margin-left: -103px;
}
.content_section {
  float: right;
  margin: 60px 0 0;
  max-width: 470px;
  width: 100%;
}
.content_section h2 {
  color: #222222;
  float: left;font-family: 'ProximaNovaBold';
  font-size: 30px;margin-bottom:14px;
  width: 100%;
}
.content_section h2 span{ color:#bb3838;}
.content_section p {
  color: #222222;
  float: left;
  font-size: 16px;
  line-height: 22px;
  margin: 15px 0;
  width: 100%;
}
/* Winning chance */

/* Topstar */
.tipstar_wrapper {
  float: left;
  padding-top:105px;
  width: 100%;
}
.tipstar_wrapper .tablet {
  float: right;
  max-width: 500px;
  width: 100%;
   margin-right: -55px;
}
.tipstar_wrapper .content_section {
  float: left;
  margin: 0;
  max-width: 473px;
}
/* Topstar */

/* Footer section start here */
.footer {
  background:#1a1a1a;
  display: block;
  padding: 25px 0;
  width: 100%;
  float:left; position: static;bottom:0;
}

.left_link {
  float: left;
  margin-top: 12px;
  width: auto;
}
.left_link li {
  display: inline-block;
}
.left_link ul li:first-child a {
  padding-left: 0;
}
.left_link ul li a {
  color: #fff;
  font-size: 16px;
  padding: 0 5px;
}

.social_icon {
  float: right;
  max-width: 675px;
  text-align: right;
  width: auto;
}
.social_icon p {
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
}
.social_icon ul {
  display: inline;
}
.social_icon li {
  display: inline-block;
}
.social_icon li a {
  display: block;
  padding: 0 5px;
}



/***********************new-changes********************/
.caption{font-size:50px;line-height:45px;color:#fff;text-shadow:0px 0px 2px rgba(51,51,51,0.79);}
.caption span {
    font-family: proximanovasemibold;
}
.left_text a.btn-banner {
    font-size: 22px;
    margin: 0 12.5px;
    max-width: 187px;
    text-transform: uppercase;
}
/*************************end*******************/
/*******************login**********************/
.login_outer {
    clear: both;
    content: "";
    display: block;
    margin: 65px auto auto;
    width: 310px;
}
.login {
    margin: 20px auto auto;
/*
    text-transform: uppercase;
*/
    width: 214px;
}
.login input[type=text], .login input[type=password] {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px;
    font-size: 16px;
    height: 32px;
    margin-bottom: 13px;
    text-align: center;
/*
    text-transform: uppercase;
*/
    width: 100%;
     font-family: "tradegothiccondensed";
}
.forgot { color: #555 !important; font-size: 11px; margin: 6px 2px; }
.forgot:hover { color: #b41414!important;}
.login span { color: #fff !important; float: left; font-size: 11px; margin: 6px; }
.login_btn {
    background: rgb(180, 20, 20) none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    height: 32px;
    margin-bottom: 5px;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    float:left;
    font-family: "tradegothiccondensed";
}
.f_btn {
    background: rgb(55, 96, 140) none repeat scroll 0 0;
    margin-bottom: 10px;
}
.t_btn {
    background: rgb(15, 179, 238) none repeat scroll 0 0;
    margin-bottom: 10px;
}
.g_btn {
    background: rgb(180, 20, 20) none repeat scroll 0 0;
	width:100%;
	display:inline-block;
	height:32px;
	border-radius:2px;
	text-transform:uppercase;
	text-align:center;
	color:#ffffff;
	border:none;
	font-size:15px;
	padding:5px 0px;
	margin-bottom:5px;
}
.social_support {
    clear: both;
    color: rgb(122, 122, 122);
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.home {

  width: 100%;
}
.bg_image {
  background-attachment: fixed;
  background-image: url("../images/login_img.png"), url("../images/banner_bg1.jpg");
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: auto auto, 100% auto;
}
.pull-right.forgot { float: right;}
.login_btn.sign {
  margin-right: 10px;
  width: 45%;

}
.criteria{margin-bottom: 6px;}
/*********edit-profile************/
.content {
  display: block;
  margin-top: 5px;
  min-height: 660px;
  text-align: left;
}
.sport {
  background: rgba(0, 0, 0, 0) url("../images/amarican_football.png") no-repeat fixed left bottom / 300px auto;
}
.green ul.left_links li a:hover {
    color: rgb(101, 210, 208);
}
.green .buy_tip {
    background: rgb(96, 209, 207) none repeat scroll 0 0;
}
.blue ul.left_links li a:hover {
    color: rgb(40, 136, 201);
}
.blue .buy_tip:hover {
    background:#D21C1C !important;
}
.red ul.left_links li a:hover {
    color: rgb(237, 40, 27);
}
.red .buy_tip {
    background: rgb(237, 40, 27) none repeat scroll 0 0;
}
.black ul.left_links li a:hover {
    color: rgb(0, 0, 0);
}
.black .buy_tip {
    background: rgb(0, 0, 0) none repeat scroll 0 0;
}
.dark_red ul.left_links li a:hover {
    color: rgb(180, 20, 20);
}
.dark_red .buy_tip {
    background: rgb(180, 20, 20) none repeat scroll 0 0;
}
.orange ul.left_links li a:hover {
    color: rgb(255, 200, 20);
}
.orange .buy_tip {
    background: rgb(255, 200, 20) none repeat scroll 0 0;
}
.sky ul.left_links li a:hover {
    color: rgb(15, 179, 238);
}
.sky .buy_tip {
    background: rgb(15, 179, 238) none repeat scroll 0 0;
}
.tennis {
    background: rgba(0, 0, 0, 0) url("../images/tennis.png") no-repeat fixed left 60px / 205px auto;
}
.boxing {
    background: rgba(0, 0, 0, 0) url("../images/boxing.png") no-repeat fixed left bottom;
}
.cricket {
    background: rgba(0, 0, 0, 0) url("../images/cricket.png") no-repeat fixed right 50px / 215px auto;
}
.golf {
    background: rgba(0, 0, 0, 0) url("../images/golf.png") no-repeat fixed left 70px / 270px auto;
}
.baseball {
    background: rgba(0, 0, 0, 0) url("../images/baseball.png") no-repeat fixed left 70px / 210px auto;
}
.football {
    background: rgba(0, 0, 0, 0) url("../images/football.png") no-repeat fixed left 60% / 270px auto;
}
.ice_hockey {
    background: rgba(0, 0, 0, 0) url("../images/ice_hockey.png") no-repeat fixed left 100px / 350px auto;
}
.rugby {
    background: rgba(0, 0, 0, 0) url("../images/rugby.png") no-repeat fixed right 50px / 250px auto;
}
.surfing {
    background: rgba(0, 0, 0, 0) url("../images/surfing.png") no-repeat fixed left 50px / 340px auto;
}
.amarican_football {
    background: rgba(0, 0, 0, 0) url("../images/amarican_football.png") no-repeat fixed left bottom / 265px auto;
}
.motor_sport {
    background: rgba(0, 0, 0, 0) url("../images/motor_sport.png") no-repeat fixed left bottom / 450px auto;
}
.martial {
    background: rgba(0, 0, 0, 0) url("../images/martial.png") no-repeat fixed right bottom / 250px auto;
}
.amarican_rule {
    background: rgba(0, 0, 0, 0) url("../images/amarican_rule.png") no-repeat fixed right bottom / 250px auto;
}
.edit_profile {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  display: block;
  height: 48px;
  padding: 10px;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
top:0; z-index: 99;
}
.edit_profile > span {
  color: #555555;
  font: 16px/20px "tradegothicbold_condensed";
}
label.option {
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-right: 10px;
  text-transform: none;
  width: auto;
}
.body_bg_color{ background: #CCCAD2;
    font-family: "tradegothiccondensed",arial;
    font-size: 13px;
    font-weight: normal;}
.username {
    color: rgb(255, 255, 255);
    font: 30px/32px "tradegothicbold_condensed";
    margin-top: -8px;
}
.blog_row {
    border-bottom: 1px solid rgb(255, 255, 255);
    float: left;
    padding: 2px 0 1px;
    width: 100%;
}
div.blog_row:last-child{
	border:none;
}
.right_content > div.blog:nth-child(2n+2){
	margin-right:0px;
}
footer{
	color:#ffffff;
	font-size:11px;
	background: no-repeat 10px center #000000;
	text-align:center;
	padding:10px 60px;
	position:fixed;
	width:100%;
	bottom:0px;
}

.username {
  border-bottom: 1px solid #e5e5e5 !important;
  color: #ffffff;
  float: left;
  font: 17px/32px "tradegothicbold_condensed";
  margin-bottom: 10px;
  margin-top: -13px;
  padding-bottom: 5px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}
.but_tip_coach{
	display:block;
	margin-top:20px;
}
.but_tip_coach span{
	padding:5px 0px;
	border-bottom:1px solid #ffffff;
	color:#8A8A8A;
	font-size:16px;
	text-transform:none; margin-top: 3px;
	display:block;
}
.but_tip_coach span:last-child{
	border:none;
}
.but_tip_coach a{
	display:inline-block;
	float:right;
	background:#2888c9;
	color:#ffffff;
	text-align:center;
	border-radius:3px;
	margin-top:4px;
	font-size:13px;
	padding:13px 13px; height: 34px;
}
.btn_profile .buy_tip{ height: 34px;}
ul.left_links li a{
  color:#555;
  display: block;
  padding: 7px 8px;
  text-transform: uppercase;
  font: 13px 'tradegothiccondensed';
}
ul.left_links li a:hover{
	color:#dd2727 !important; background-color: #fff;
    border-radius: 3px;
    color: rgb(40, 136, 201);
}
ul.left_links li{ margin-bottom:1px;}
.but_tip_coach {
  display: block;
  margin-top: 0px;
}
.coach_blog{
	margin-left:25px;
}
.blog_img {
  display: inline-block;
  text-align: center;
  width: 100% !important;
}
div.blog_row:last-child {
  border: medium none;
}
.blog_dis {
  float: right;
  
  width: 100%;
}
#page_content {
  display: inline-block;
  float: right;
}
.right_content {
  width: 628px;
}
.blog_row {
  border-bottom: 1px solid rgb(255, 255, 255);
  color:#555555;
  float: left;
  padding: 2px 0 1px;
  width: 100%;
}
.widthdraw_heading {
  border-bottom: 1px solid #e5e5e5;
  color:#555;
  font-family: "tradegothicbold_condensed";
  font-size: 22px;
  margin-bottom: 20px;
  text-transform: uppercase; padding-bottom: 4px;
}
.rugby {
  background: rgba(0, 0, 0, 0) url("../images/rugby.png") no-repeat fixed right 50px / 250px auto;
}
.input_txt {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  border: medium none;
  border-radius: 5px;
  display: inline-block;
  height: 34px;
  padding: 4px;
  width: 100%;   box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.22) inset;
}
.widthdraw.my_pro label {
  font-weight: normal;
}
.widthdraw > span {
  display: inline-block;
  width: 120px;
  border: none;
  color: rgb(119, 119, 119);
}
.widthdraw label {
  color:#555;
  display: inline-block;
  font-size: 16px;
  padding-right: 5px;
  padding-top: 6px;
  text-align: right;
  width: 184px;
  font-weight: normal;
    float: left;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
label.option {
  color: #555;
  font-size: 14px;
  margin-right: 0px !important;
  text-transform: none;
  width: auto;
}
.widthdraw input[type=radio] {
  display: inline-block;
  height: auto;
  margin-top: 9px;;
  width: auto;
  float: left;
}
.sort span {
  color: rgb(122, 122, 122);
  display: inline-block;
  text-transform: uppercase;
}
.sort a {
  color: rgb(122, 122, 122);
  display: inline-block;
  padding: 0 5px;
}
.main_outer {
  margin-bottom: 50px;
  margin-top: 70px;
}
.sort {
  border-top: 1px solid #e5e5e5;
    display: block;
    font: 12px "tradegothicbold_condensed";
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}
header span {
  line-height: 25px;
  padding: 0 5px;
   font: 12px 'tradegothiccondensed';
}
.stickyribbon {
        color: #fff;
        width:160px; 
        display:inline-block;
}
#page_content { display:inline-block; float:right; border-left:1px solid #e5e5e5; min-height: 326px; padding-left: 20px;}
.blog {
  display: inline-block;
  height: auto;
  margin-bottom: 45px;
  margin-right: 27px;
  text-transform: uppercase;
  width: 100%; margin:0px;
}
ul.left_links li span {
  color: #555;
  font: 16px "tradegothicbold_condensed";
  text-transform: uppercase;
  padding-bottom:10px;
  display:block;
}
.media_link {
  float: right;
  margin-right:0px;
  margin-top: 5px;
}
.search {
  background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll right center;
  border: medium none;
  border-radius: 5px;
  box-shadow: 0 2px 0 rgb(221, 221, 221);
  float: right;
  height: 25px;
  padding: 0 30px 0 5px;
  text-transform: uppercase;
  width:175px;
  font: 12px 'tradegothiccondensed';
}
/************************ popup *********************************************/
.popup_container_login{
	width:100%;
	height:100%;
	position:fixed;
	z-index:6;
	left:0px;
	top:0px;
	background:none repeat scroll 0 0 rgba(255, 255, 255, 0.60);
}
.popup_outer_login{
	width:437px;
	height:auto;
	padding:20px;
	background:none repeat scroll 0 0 #DCDCDC;;
	margin:auto;
	border-radius:10px;
	border:5px solid #ffffff;
	box-shadow:0px 0px 5px #aaa;
	position:relative;
	display:table;
	margin-top:131px;
}
.popup_img_login{
	position:absolute;
	top:5px;
}
.logo-margin {
  margin-bottom: 27px;
}
.popup_outer_login h1{
	display:block;
	color:#333333;
	font-size:19px;
	border-bottom:1px dashed #bcbcbc;
	padding-bottom:15px;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:25px;
}
/*gaggy***/

.login_outer{
	font-family: 'tradegothiccondensed', arial;
	margin:auto;
	content:"";
	clear:both;
	display:block;
	margin-top:65px;
}
.login{
	width:214px;
	margin:auto;
	margin-top:20px;
/*
	text-transform:uppercase;
*/
}
.login input[type=text], .login input[type=password], .login select{
	background:#fff;
	width:100%;
	height:32px;
	border-radius:2px;
	text-align:center;
	margin-bottom:13px;
	border:none;
	font-size:16px;
	font-family: 'tradegothiccondensed', arial;
}
.forgot{
	color:#7a7a7a;
	font-size:13px;
	margin:6px 2px;
}
.login span{
	color:#7a7a7a;
	font-size:13px;
	margin:6px;
	float:left;
}

.login_btn{
	background:#b41414;
	width:100%;
	display:block;
	height:32px;
	border-radius:2px;
	text-transform:uppercase;
	text-align:center;
	color:#ffffff;
	border:none;
	font-size:15px;
	padding:5px 0px;
	margin-bottom:10px;
}
.login_btn_twitter{
	background:#b41414;
	width:100%;
	display:block;
	height:32px;
	border-radius:2px;
	text-transform:uppercase;
	text-align:center;
	color:#ffffff;
	border:none;
	font-size:16px;
	padding:5px 0px;
	margin-bottom:5px;
}
.f_btn{
	background:#37608c;
	margin-bottom:10px;
	}
.t_btn{
	background:#0fb3ee;
	margin-bottom:10px;
	}
.g_btn{
	background:#b41414;
	}
.social_support {
  clear: both;
  color: #7a7a7a;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-family: proximanovaregular;
}
a, input, select, textarea {
    outline: medium none !important;
}
.login_outer a {
    cursor: pointer;
    text-decoration: none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.error{
border:1px solid red !important;
}
.pull-right
{
float:right;
}
.buy_tip.pull-left.submit-class {
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  padding: 11px 13px;
  text-transform: uppercase;
}
/*********************************************************************/

.buy_tip{ background: #dd2727 none repeat scroll 0 0;
    border: medium none !important;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 10px;
    margin-right: 0px;
    margin-top: -7px;
    padding: 11px 16px;
    width: auto !important;
}
.buy_tip:hover{ 
background: #bb3838 none repeat scroll 0 0;
    color: #ffffff;
}
.userSignUpError{ background-color: #fdeaea !important;border: 1px solid #f27b81 !important;color: #ca6f74 !important;padding: 5px 10px !important;margin-top: 10px }
.userSignUpok{  background-color: #F3FFE8 !important;
    border: 1px solid #9fc76f !important;
    border-radius: 5px;
    color: #7a9659 !important;
    font-size: 14px;
    height: 36px;
    margin-top: -20px;
    padding: 7px 10px !important;
    position: relative;
    top: 15px;width:70%;margin:auto;}
#userLoginError{ background-color: #fdeaea !important;border: 1px solid #f27b81 !important;color: #ca6f74 !important;padding: 5px 10px !important;margin-top: 10px;display:none; }
#userforgot{ background-color: #fdeaea !important;border: 1px solid yellow !important;color: #ca6f74 !important;padding: 5px 10px !important;margin-top: 10px;display:none; }

footer span{color:#fff;font-size: 14px}
footer .container{padding-bottom:0px;}
/* Responsive style */

#loginfm .forgot{color:#fff!important;}
.popup_img_login{background: #ffffff none repeat scroll 0 0;border-radius: 20px;color: #ffffff;padding: 4px;}

.inner-pages-image {margin-bottom: 13px;}
.footer .container{padding-bottom:0px;}
.active { color: #dd2727 !important; background-color: #fff;
    border-radius: 3px;}

.valid-error { color: red; font-size: 13px; text-transform: none;}
/************changes*****************/
.profile_form {  float: left;height: 50px;   width: 100%;}
.profile_input {float: left; width: 48%;}
.pwd_form {  float: left; width: 100%;height: 51px;}
.pwd_input {
  display: inline-block;
  float: none;
  vertical-align: middle; width: 48%;
} 
.edit_form {  float: left;width: 100%;}
.edit_form span {  color: #777777;}
.edit_form label {  font-weight: bold !important;}
.btn_profile {
  float: left;
  padding-left: 189px;
  text-align: center;
  width: auto;
}
.profile_form label {  text-transform: capitalize;  margin-right: 4px;}
.edit_form label {   margin-right: 4px;    padding-top: 4px !important;    text-transform: capitalize;}
.pwd_form label {    text-transform: capitalize; margin-right: 4px;}

.blue .buy_tip{ background-color:#dd2727 !important;}
.blue .buy_tip{ background-color:#dd2727 !important;}


/***************************pop up start**********************************/

.pop-up-outter{
	position:fixed; top:0px; left:0px; background-color:rgba(0, 0, 0, 0.6); height:100%; width:100%; z-index:99;
	display: none;
}
.popup-main{
	position:absolute; top:10%; left:0px; right:0px; margin:auto; width:620px; border:7px solid #a9a9a9; background-color:#fff;
}
.popup-head{
	float:left; width:100%; background-color:#484848; position:relative;     padding: 16px 0px;
}
.popup-head p{
	float:left; width:100%; text-align:center; font-size:28px; text-transform:uppercase; color:#fff;
}
.popup-cross{
	position:absolute; right: 20px;
    top: 25px;
    cursor: pointer;
}
.popup-base{
	float:left; width:100%; background-color:#f5f6f7;
}
.popup-left{
	float:left; width:50%; text-align:center; padding-bottom: 40px;
    padding-top: 32px;  position: relative;
}
.popup-left:before{
	background:url('../images/pop-border.png') repeat-y top right; position:absolute; top:0px; right:0px; content:""; height:100%; width:4px;
}
.pop-img{
	display:inline-block; height:150px; width:150px; background:url('../images/stadum.png')no-repeat center center; border-radius: 50%;
	border: 2px solid #6c6461;
}
/*.pop-img:hover{
	 background:url('../images/ground-hover.png')no-repeat center center;
}*/
.popup-btn {
    display: inline-block;
    font-size: 17px;
    color: #fff;
    background-color: #6c6461;
    box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.12) inset;
    padding: 14px 83px;
    border-radius: 3px; margin-top:19px; text-transform:uppercase;
}
.popup-btn:hover{
	background-color:#bb3838;
}
.pop-or{
	position:absolute; top:-4%; bottom:0px; margin:auto; right:-13px; background-color:#515151; height:30px; width:30px; border-radius:50%; text-align:center;
}
.pop-or p{
	font-size:12px; color:#fff; text-transform:uppercase; margin-top: 6px;
}
.popup-right{
	float:right; width:50%; text-align:center; padding-bottom: 40px;
    padding-top: 32px;
}
.pop-img2{
	display:inline-block; height:148px; width:148px; background:url('../images/user-icon.png')no-repeat center center; background-position:38px 22px;
}
/*.pop-img2:hover{
	display:inline-block; height:148px; width:148px; background:url('../images/user-hover.png')no-repeat center center;
}*/
.popup-left:hover .pop-img{
	border: 2px solid #bb3838;
}
.popup-left:hover .popup-btn{
	background-color:#bb3838;
}
.popup-right:hover .pop-img{
	border: 2px solid #bb3838;
}
.popup-right:hover .popup-btn{
	background-color:#bb3838;
}

/**********************new changes******************/
.login .input-block{width:100%; float:left; min-height: 40px;}
.or-block{width:100%; float:left;margin:0px 0px 15px;text-align:center;background: url('../images/pop-border1.png') repeat-x left center;}
.login_outer.login_outer-sp {
  margin: 28px auto auto;
}
.or-block .or-main {
  background: #515151 none repeat scroll 0 0;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  color: #ffffff;
  display: inline-block;
  font-size: 13px;
  height: 26px;
  line-height: 23px;
  text-align: center;
  width: 26px;
}
.input-height div.login-error {
  bottom: 1px;
  color: #f00;
  float: left;
  font-size: 14px;
  position: absolute;
  text-transform: none;
}
.login .userSignUpError{margin-bottom:10px;margin-top:10px;}
.login .input-block.input-height{min-height: 53px;position:relative;left:0;top:0;}
.userSignUpok.msg-top,.userSignUpError.msg-top{  margin: 0 auto;
    max-width: 66%;
    position: relative;
    top: 57px;
    width: 100%; height: auto; border-radius: 5px;}
.tems-condition{
  position: relative;width:100%; float:left; min-height: 86%; 
/*
  padding-bottom: 97px;
*/
  padding-bottom: 86px;
 }
 
/*
.tems-condition{
  position: relative;width:100%; float:left; background: url("../images/banner_bg1.jpg") no-repeat fixed left top;min-height: 86%; padding-bottom: 97px;
 }
*/
 .tems-condition .sport {
  float: left;
  width: 100%;
}
.tems-condition .sport {
  clear: both;
  color: #fff;
  margin-top: 150px;
  text-align: left;
  text-shadow: 1px 0 2px rgba(0, 0, 0, 0.4);
  width: 100%;background: none;
}
.tems-condition .tips_outer {
  text-align: left;
  width: 100% !important;
}
.tems-condition .tips_outer p{

font-size:16px;
}
.tems-condition .tip_list {
  margin-bottom: 35px;
}
.tems-condition .tip_list p,.tems-condition .tip_list ul li{font-size:15px;}
.tems-condition h1{margin-bottom:20px;}
.tems-condition .tip_list ul li{padding-bottom:8px ;}
.sell_buy{font-size: 36px;text-align:left; margin-bottom:20px;}
/**************************end*******************/

/***************************pop up end**********************************/

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  
  margin-bottom: -94px; 
}
.page-wrap:after {
  content: "";
  display: block; min-height: 94px;
}
.footer {
  min-height: 94px; 
}



/*********************8 2 2016 start************************/

.venue-selet{
	float:left; width:100%; height:auto;
}
.venue-selet select{
	float:left; width:100%; height:auto; height:44px; border:1px solid #bdbdbd; font-size:15px; color:#474747;
	background:url('../images/select-arrow.png')no-repeat center right 22px #fff; -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none; padding-left:12px;
}
.venue-btn{
	float:left; width:100%; height:auto; margin-top:17px;
}
.venue-btn a{
	margin:0px; float:right;
}
.venue-btn input[type="submit"] {
  float: right;
}
.pross-bar{
	float:left; width:100%;
}
.pross-bar a{
	float:left; width:auto; color:#fff !important; font-size:16px; background-color:#a9a9a9; padding:14px 15px; text-transform:uppercase;
	margin:0px; border-radius:0px; height:auto; position:relative; margin-right:30px; height:50px;
}
.pross-bar a:hover{
	background-color:#b41414;
}
.pross-bar .active{
	background-color:#b41414;
}
.pross-bar a:after{
	position:absolute; content:""; background:url('../images/pross.png')no-repeat top right; top:0px; right:-30px; height:50px; width:30px;
}
.pross-bar a:before{
	position:absolute; content:""; background:url('../images/pross-left-img.png')no-repeat top right; top:0px; left:-22px; height:50px; width:22px;
}
.pross-bar a:hover:before{
	position:absolute; content:""; background:url('../images/pross-left-img-hover.png')no-repeat top right; top:0px; left:-22px; height:50px; width:22px;
}
.pross-bar .active:before{
	position:absolute; content:""; background:url('../images/pross-left-img-hover.png')no-repeat top right; top:0px; left:-22px; height:50px; width:22px;
}
.pross-bar a:first-child:before{
	background-image:none !important;
}
.pross-bar a:hover:after{
	position:absolute; content:""; background:url('../images/pross-hover.png')no-repeat top right; top:0px; right:-30px; height:50px; width:30px;
}
.pross-bar .active:after{
	position:absolute; content:""; background:url('../images/pross-hover.png')no-repeat top right; top:0px; right:-30px; height:50px; width:30px;
}

.last-pross{
	border-right:2px solid #858585;
}
.last-pross:hover{
	border-right:2px solid #7f0f0f;
}
.last-pross.active{
	border-right:2px solid #7f0f0f;
}
.last-pross:after{
	background-image:none !important;
}
.com-team-outer{
	float:left; width:100%; height:auto; margin-top:20px;
}
.com-team-outer ul{
	float:left; width:100%; height:auto;
}
.com-team-outer ul li{
	float:left; width:48%; height:auto; position:relative;
}
.com-team-outer ul li h4{
	position:absolute; width:100%; text-align:center; text-transform:uppercase; font-size:76px; font-family: 'tradegothicbold_condensed'; color:#fff;
	top:0px; z-index: 9; height: 83px; bottom:0px; margin:auto;
}
.com-team-outer ul li:nth-of-type(2n+0){
	float:right;
}
.com-team-hover{
	background-color:rgba(180, 20, 20, 0.5); border:2px solid #b41414; position:absolute; width:100%; height:100%; top:0px; left:0px; display:none;
}
.com-team-outer ul li:hover .com-team-hover{
	display:block;
}
.com-team-outer ul li a {
  background-color: transparent;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.round-outter{
	float:left; width:100%; margin-top:20px;
}
.round-head{
	float:left; width:100%; background-color:#1a1a1a; padding-left:22px;
}
.round-head h5{
	float:left; width:auto; color:#fff; text-transform:uppercase; font-size:19px; font-family: 'tradegothicbold_condensed';
	margin: 15px 0 0;
}
.round-head select{
	float:right; height:49px; background-color:#313131; font-size:14px; color:#fff; border:none; background:url('../images/select-black.png')no-repeat center right 15px #313131; -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none; width:148px; padding-left: 10px;
}
.round-table{
	float:left; width:100%; height:auto;
}
.round-table table{
	width:100%; border-collapse:collapse; border-top:1px solid #fff;
}
.round-table table tr td{
	border:1px solid #fff; border-top:none; padding: 10px 12px;
}
.round-table table tr td p{
	display:block; width:100%; font-size:14px; color:#fff; margin:0px;
}
.round-table table tr td h6{
	margin:0px; text-transform:uppercase; color:#fff; font-size:14px; font-family: 'tradegothicbold_condensed';
}
.round-tabl-bg{
	background-color:#717171;
}
.round-tabl-bg2{
	background-color:#919191;
}
.tab-check label{ margin: 0 auto;
    padding: 0;
    position: relative;
    width: 174px !important;
}
.tab-check label input[type=radio]{
	position:absolute; top:0px; left:0px; width:0px; opacity:0;
}
.tab-check label input[type=radio] + span{
	background:url('../images/on.png')no-repeat top left; padding:15px 17px 15px 64px; background-position:9px 0px;
	background-color:#808080; text-transform:uppercase; font-size:16px; font-family: 'tradegothicbold_condensed';
	    border-radius: 40px; text-align: left; color:#fff;
}
.tab-check label input[type=radio]:checked + span{
	background:url('../images/off.png')no-repeat top left; background-position:9px 0px; background-color:#b41414;
}
.outer-noti {
    height: auto;
    top: 15px !important;
    width: 25% !important;
}
.leader-head{
	float:left; width:100%; height:auto; margin-top:20px;
}
.leader-outer{
	float:left; width:100%; height:auto; border-radius:5px; background-color:#f5f5f5; padding:20px;
}
.leader-inner{
	float:left; width:100%; height:auto; border:1px solid #d8d8d8; background-color: #fff;
}
.leader-inner ul{
	float:left; width:100%; height:auto; margin:0px;
}
.leader-inner ul li{
	float:left; width:50%; height:auto; padding:10px 18px; position:relative; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4;
}
.leader-inner ul li:nth-of-type(2n+0){
	border-right:none;
}
.leader-img{
	height:64px; width:64px; border-radius:50%; overflow:hidden; position:relative; float: left;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.22);
}
.flag-img{
	position:absolute; top:5px; left:14px;
}
.leader-contant{
	float:left; width:60%; height:auto; margin-left:9px; margin-top: 4px;
}
.leader-contant h6{
	float:left; width:100%; margin:0px; font-size:13px; color:#b41414; text-transform:uppercase; font-family: 'tradegothicbold_condensed';
	margin-bottom:2px;
}
.leader-contant h5{ 
	float:left; width:100%; height:auto; margin:0px; font-size:13px; color:#797979; text-transform: none; margin-top:3px;
}
.leader-contant h5 span{
	width:100px; padding:0px; font-size:13px; color:#797979; float:left; text-transform: none;
	text-align: left;
}
.leader-bg{
	background-color:#f8f8f8;
}

/*/***************/

.tip_list h1{ margin:0px; margin-bottom: 12px;}
.tip_list p{ margin:0px;}
.tip_list{ margin:0px; margin-top:20px;}
.privacy_p {
  margin-bottom: 24px !important;
}
.sport1 {
  margin-top: 60px !important;
}
.btn_profile-padding input{ margin-right:7px; height:34px;}
.leader-inner span {
  float: left;
  font-size: 16px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
.patron-prof .profile_form{ height: auto;}
.patron-prof .widthdraw_heading{ position: relative;}
.patron-prof .widthdraw_heading a{ position: absolute;
    right: 0;
    top: -7px;}
.no-match{ background-color: #717171;
    color: #ffffff !important;
    float: left;
    font-size: 16px !important;
    margin: 0 !important;
    padding: 10px 0 !important;
    text-align: center;
    width: 100%;
}
.no-padding{ padding:0px !important;}

.my-tips-listing{background-color: #fff;
    border: 1px solid #d8d8d8;
    float: left;
    height: auto;
    width: 100%;}
.my-tips-listing ul{ float: left; width:100%; margin:0px;}
.my-tips-listing ul li{ float: left; width:100%; padding:10px 15px; border-bottom:1px solid #d8d8d8;}
.my-tips-listing ul li:last-child{ border-bottom:none;}
.my-tips-listing ul li:nth-of-type(2n+0){ background-color:#f8f8f8;}
.my-tips-listing ul li h2{ font-size:14px; color: #555; margin:0px; padding:0px; float: left; width:45px; text-align: left;
 margin: 7px 0 0;}
.my-tips-listing ul li h3{ font-size:14px; color: #555; margin:0px; padding:0px; float: left; width:50%; text-align: left;
 margin: 7px 0 0;}
.my-tips-listing ul li a{ background: none repeat scroll 0 0 #dd2727;
    border-radius: 5px;
    color: #fff;
    float: right;
    font-size: 13px;
    height: auto;
    margin: 0;
    padding: 4px 8px;
    text-transform: none;
}
.my-tops-head{ background-color:#555 !important;}
.my-tops-head h2{ color:#fff !important; margin:0px !important;}
.my-tops-head h3{ color:#fff !important; margin:0px !important;}
.my-tops-head h6{ font-size:14px; color: #fff !important; margin:0px; padding:0px; float: right; width:auto; 
 margin: 0 8px 0 0;}
.my-tops-head{ padding: 14px 15px !important;}
.suc-bold , .err-bold{ font-family: 'tradegothicbold_condensed';}
.msg-image {
    display: inline-block !important;
    margin-right: 3px;
    vertical-align: middle;
    width: 23px;
}


/************media*****************/
@media screen and (max-width:980px){
.stickyribbon {

  width: 122px;
}
.btn-banner {margin-bottom: 14px !important;}
.container {padding: 0 2%;}
.left_text {max-width: 53%;}
.right_image {max-width: 46%;}
.banner { padding-top: 90px;}
.left_text h1 {font-size:40px;margin-top: 35px;}
.left_text p { margin-bottom:35px;margin-top: 30px;}
.chance_winning_wrapper .phone {max-width: 60%; position: relative;}


.chance_winning_wrapper { height: auto;}
.content_section {max-width: 58%;}
.tipstar_wrapper .content_section {max-width: 40%;}
.tipstar_wrapper .tablet {margin: 49px 0 0;max-width: 60%;}
.content_section p {margin: 0;}
.left_like {margin-right: 47%;width: 25%;}
.left_like img {left: 150px;top: 40px;}
.patron img {left: -159px;top: 24px;}
.spots {margin-left:22%;margin-top: 26%;width: 33%;}
.spots img {left: 60px; top: -167px;}
.patron { width: 25%;}
.mac-book {max-width: 58%;}
.social_icon {max-width: 50%;float: right;}
.bg_image {
  background-attachment: fixed;
  background-image: none, url("../images/banner_bg1.jpg");
  background-position: right top, left top;
  background-repeat: no-repeat;
  background-size:cover;
}
	.sports_outer{width:auto; display:block;}
	 ul.sports_list li a.no_border{border-bottom:1px solid #ffffff;}
	 .right_content{width:305px;}
	 .coach_blog{margin-left:0px;}
	 .teams span{width:45%; font-size:18px;}
	 .teams p{font-size:18px; width:10%;}
	 .curn_tip{width:100%; margin-bottom:30px;}
	 .wiresult{padding-left:0px;}
	 .result_img{width:134px;}
	 
	 
	 .option {
  width: 43px !important;
}
.profile_form > label {
    width: 103px!important;
}
.profile_input {
    float: left;
    width: 168px;
}
.input_txt {
    width: 100%;
}
.buy_tip.pull-left {
  margin-left: 0 !important;
}

.pwd_input label {
    text-align: left;
    width: 123px;
}
.pwd_form label {
    width: 130px;
}

.stickyribbon {
  position: static !important; width: 22%; margin-bottom: 20px;
}
.right_content {
    padding-left: 20px;
    width: 75.7%;
}
.btn_profile{ padding-left: 108px;}
.btn_profile .buy_tip {
  margin-right: 7px;
  margin-top: 6px !important;
}
.profile_input{ width:64%;}

.container{ width:95% !important;}

.com-team-outer ul li h4{
	font-size: 60px;
}
.btn_profile-change {
  padding-left: 135px;
}
}

@media screen and (max-width:850px){

.round-table{
	overflow:auto;
}
.round-table table {
    max-width: inherit;
    min-width: 600px;
    width: 100%;
}
.right_content-res {
    float: left;
    min-height: inherit !important;
    padding-left: 0;
    width: 100% !important;
}
.right_content-res{
	padding-left:0px !important; border-left:none !important;
}

}

@media screen and (max-width:768px){


.header {text-align: center;}
.login_registration {margin: 35px 0 0;text-align: center;width: 100%;}
.header_button {width: 44%;}
.banner {padding-top: 180px;}
.right_image {display: none;}
.left_text {max-width: 100%;margin-bottom:100px;}
.logo {width: auto;}
.left_text h1 {font-size: 35px;margin-top: 25px;line-height: 29px;}
.left_text h2 { font-size: 45px;}
.drop_arrow2 {left: 44%;}
.chance_winning_wrapper {padding-top: 55px;text-align: center;}
.content_section {margin: 0;max-width: 100%;text-align: left;}
.content_section h2 {font-size: 26px;font-family: 'ProximaNovaRegular';}
.content_section p {font-size: 15px;}
.chance_winning_wrapper .phone {max-width: 289px;float: none;display: inline-block;margin: 30px 0 0;}
.container {padding: 0 30px;}
.drop_arrow {left: 44%;}
.banner_bg_1  {background-attachment: scroll;background-size: 100% auto;padding: 23% 0;}
.section {height: auto;}
.drop_arrow {display: none;}
.tipstar_wrapper {padding-top: 55px;text-align: center;}
.tipstar_wrapper .content_section {max-width: 100%;}
.tipstar_wrapper .tablet {margin: 30px 0 0; max-width: 500px;}
.banner_img {background-attachment: scroll;background-size: 100% auto;padding: 23% 0;}
.features_content {padding: 50px 0;}
.features_content h1 {font-size: 40px;width: 100%;}
.features_content h4 {font-size: 18px;}
.system_knowledge {margin-top: 25px;text-align: center;}
.left_like {margin-right: 0;width: 100%;text-align: left;}
.patron {width: 100%;margin-top: 23px;text-align: left;}
.spots {margin-left: 0;width: 100%;margin-top: 23px;text-align: left;}
.left_like img {display: none;}
.patron img {display: none;}
.spots img {display: none;}
.mac-book {left: 0;max-width:558px; position: relative; top: 30px;}
.banner_img_3 {background-attachment: scroll;background-size: 100% auto;padding: 23% 0;}
.footer {text-align: center;}
.social_icon {float: none;margin:15px 0 0;max-width: 100%;text-align: center;}
.social_icon p {display: none;}
.login_outer{margin:65px auto;}	
.banner_img_3 {  background-size: cover!important;}
.left_link {margin-top: 0;width: 100%;margin-bottom: 12px;}
.social_icon > ul { float: left;width: 100%;}
.stickyribbon{position:static!important;}
	footer{position:static;}
	.rugby{background:none;}
.pwd_form label {
    width: 123px;
}
/*************************pop up start*****************************/
	
	.popup-main{
	width:90%;
}

.popup-head p{
	font-size:22px;
}

.tems-condition .sport{margin-top:225px;}	
	/*************************pop up end*****************************/
	

.pross-bar a{
	width:100%; margin-bottom:2px;
}
.pross-bar a:after{
	background-image:none !important;
}
.pross-bar a:before{
	background-image:none !important;
}
.com-team-outer ul li{
	width:100%; margin-bottom:15px;
}
.com-team-outer ul li img{
	width:100%; 
}	
.com-team-outer ul li h4{
	height:65px;
}
.pross-bar a{
	margin:0px; margin-bottom:1px;
}
.leader-inner ul li{
	width:100%;
}

}
@media screen and (max-width:600px){
	.popup_outer_login{width:94%;
		margin:12% auto;
		
		float:none;
	}
	.popup_outer_login iframe{width:100% !important}
	
.lets-start { font-size: 15px;}
.footer_txt { font-size: 18px;}
ul.left_links li a {
  border-bottom: 1px solid rgb(187, 187, 187);
}
.stickyribbon {
  width: 100%;
}
#page_content{ float:left;}
#page_content{border:none;margin-top:10px;}
.container{width:96%!important;margin:auto;}
.right_content {
  float: left !important;
  width: auto;
}
.widthdraw label {
  text-align: left;
  width: 102px;
}
.option {
  width: 43px !important;
}
.pwd_form label {
    width: 123px;
}
.blog_img {
  text-align: center;
  width: 100%!important;
}
.blog_dis {
  float: none;
  margin: 0 auto;
  width: 100%!important;
}

/*************************pop up start*****************************/
	
.popup-left{
	width:100%;
}
.pop-btn-outer{
	float:left; width:100%;
}
.popup-right{
	width:100%;
}
.popup-main{
	height:400px; overflow:auto;
}
.popup-cross{
	top:21px;
}
.popup-left::before {
    background: rgba(0, 0, 0, 0) url("../images/pop-border.png") repeat-x scroll left bottom;
    bottom: 0;
    content: "";
    height: 4px;
    position: absolute;
    right: 0;
    top: inherit;
    transform: rotate(180deg);
    width: 100%;
}
.pop-or {
        bottom: -11px;
    height: 30px;
    left: 0;
    margin: auto;
   
    right: -13px;
    
    top: inherit;
  
}


	
	/*************************pop up end*****************************/
#page_content{
	padding-left:0px;
}
.right-content-res{ width:100%;}
}
@media screen and (max-width:480px){
.header_button {width: 46%;margin-bottom: 10px;}
.left_text h1 {font-size: 42px;margin-top: 0;}
.lets-start {padding: 14px 20px;width: 100%;}
.left_text h1 {
  font-size: 30px;
  line-height: 27px;
}
.left_text a.btn-banner {
margin-bottom:13px;
}
	ul.left_links{width:115px;}
	.coach_blog{display:block;}
	.stickyribbon{ display:block; position:static!important; width:auto;}
	#page_content{ float:left;}
	.container{ width:auto;}
	ul.left_links li a{border-bottom:1px solid #bbb;}
	ul.left_links{width:100%;}
	.chance_winning_wrapper .phone{ max-width:100%;}
	.profile_form span{ width: 55%;
    word-wrap: break-word; float: left;}
    
    .sell_buy{ font-size:28px;}
    .tip_list h1{ font-size:28px;}
}
@media screen and (max-width:375px){
	.left_text{margin-top:46px;}
	.login_outer { width: 100%;}
	.input_txt {width: 152px;}
	.blog_dis {  width: 135px;}
	.blog {width: 282px;}
	.pwd_form label {
  width: 100%;
}
	.pwd_form{ height:auto;}
	.input_txt {
  width: 100%;
}
.pwd_input{ width:100%;}
.blog {
  margin: 0;
  width: 100%;
}
.widthdraw_heading{ margin-bottom: 12px;}
.btn_profile {
  margin-top: 10px;
  width: 100%;
}
.profile_input{ width:100%;}
.profile_form{ height:auto;}
.btn_profile{ padding-left:0px;}
}
