.dark_red ul.left_links li a:hover{color:#b41414;}
.dark_red ul.left_links li ul li:hover{color:#b41414;}
.dark_red .buy_tip{background:#b41414;}
.amarican_football{background:url('../../images/amarican_football.png') no-repeat left bottom;background-attachment:fixed;background-size:265px auto;}

