.red ul.left_links li a:hover{color:#ed281b;}
.red ul.left_links li ul li:hover{color: #ed281b;}
.red .buy_tip{background:#ed281b;}
.amarican_rule{background:url('../../images/amarican_rule.png') no-repeat right bottom;background-attachment:fixed;background-size:250px auto;}
