.sport{background:url('../../images/sport.png') no-repeat right 70px; background-attachment:fixed; background-size:300px auto;}
.blue .buy_tip{background:#2888c9;}
.blue ul.left_links li a:hover{color:#2888c9;}
.blue ul.left_links li li:hover{color:#2888c9;}
@media (max-width:1024px) {
	.sport{background-position:right bottom;}
}
