.ice_hockey{background:url('../../images/ice_hockey.png') no-repeat left 100px;background-attachment:fixed;background-size:350px auto;}
.blue .buy_tip{background:#2888c9;}
.blue ul.left_links li a:hover{color:#2888c9;}
.blue ul.left_links li ul li:hover{color:#2888c9;}

@media (max-width:1024px) {
	.ice_hockey{background-position:left bottom;}
}
