@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../../fonts/proximanova-regular.eot');
    src: url('../../fonts/proximanova-regular.eot') format('embedded-opentype'),
         url('../../fonts/proximanova-regular.woff') format('woff'),
         url('../../fonts/proximanova-regular.ttf') format('truetype'),
         url('../../fonts/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}
@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('../../fonts/proximanova-semibold.eot');
    src: url('../../fonts/proximanova-semibold.eot') format('embedded-opentype'),
         url('../../fonts/proximanova-semibold.woff') format('woff'),
         url('../../fonts/proximanova-semibold.ttf') format('truetype'),
         url('../../fonts/proximanova-semibold.svg#ProximaNovaSemibold') format('svg');
}
@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../../fonts/proximanova-light.eot');
    src: url('../../fonts/proximanova-light.eot') format('embedded-opentype'),
         url('../../fonts/proximanova-light.woff') format('woff'),
         url('../../fonts/proximanova-light.ttf') format('truetype'),
         url('../../fonts/proximanova-light.svg#ProximaNovaLight') format('svg');
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../../fonts/proximanova-bold.eot');
    src: url('../../fonts/proximanova-bold.eot') format('embedded-opentype'),
         url('../../fonts/proximanova-bold.woff') format('woff'),
         url('../../fonts/proximanova-bold.ttf') format('truetype'),
         url('../../fonts/proximanova-bold.svg#ProximaNovaBold') format('svg');
}
@font-face {
    font-family: 'tradegothicbold_condensed';
    src: url('../fonts/tradegothic-boldcondtwenty-webfont.eot');
    src: url('../fonts/tradegothic-boldcondtwenty-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.woff') format('woff'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.svg#tradegothicbold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;
	
}
@font-face {
    font-family: 'tradegothiccondensed';
    src: url('../fonts/tradegothic-condeighteen-webfont.eot');
    src: url('../fonts/tradegothic-condeighteen-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-condeighteen-webfont.woff') format('woff'),
         url('../fonts/tradegothic-condeighteen-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-condeighteen-webfont.svg#tradegothiccondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*//////////////////////////////// popup /////////////////////////////////////*/
.tipster_popup h1{color:#ed281b !important; font-size:24px !important;font-weight:bold;}
.tipster_popup username{color:#333 !important;}
.tipster_popup_outer{width:579px !important;}
.view_week_tipster_profile{background:#ed281b none repeat scroll 0 0;
 border-radius: 3px;
    color: #ffffff;
    display: block;
    margin-top: 10px;
    text-align: center;
}
.popup_container_login{
	width:100%;
	height:100%;
	position:fixed;
	z-index:6;
	left:0px;
	top:0px;
	background:none repeat scroll 0 0 rgba(255, 255, 255, 0.60);
}
.popup_outer_login{
	width:437px;
	height:auto;
	padding:20px;
	background:none repeat scroll 0 0 #DCDCDC;;
	margin:auto;
	border-radius:10px;
	border:5px solid #ffffff;
	box-shadow:0px 0px 5px #aaa;
	position:relative;
	display:table;
	margin-top:131px;
}
.popup_img_login{
	position:absolute;
	top:5px;
}
.popup_outer_login h1{
	display:block;
	color:#333333;
	font-size:19px;
	border-bottom:1px dashed #bcbcbc;
	padding-bottom:15px;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:25px;
}
/*gaggy***/

.login_outer{
	font-family: 'tradegothiccondensed', arial !important;
	margin:auto;
	content:"";
	clear:both;
	display:block;
	margin-top:65px;
}
.login{
	width:214px;
	margin:auto;
	margin-top:20px;
	text-transform:uppercase;
}
.login input[type=text], .login input[type=password]{
	background:#fff;
	width:100%;
	height:32px;
	border-radius:2px;
	text-align:center;
	margin-bottom:13px;
	border:none;
	font-size:16px;
	font-family: 'tradegothiccondensed', arial;
}
.forgot{
	color:#7a7a7a;
	font-size:13px;
	margin:6px 2px;
	font-size:11px;
}
.login span{
	color:#7a7a7a;
	font-size:13px;
	margin:6px;
	font-size:11px;
	float:left;
}

.login_btn{
	background:#b41414;
	width:100%;
	display:block;
	height:32px;
	border-radius:2px;
	text-transform:uppercase;
	text-align:center;
	color:#ffffff;
	border:none;
	font-size:16px;
	padding:5px 0px;
	margin-bottom:5px;
}
.login_btn_twitter{
	background:#b41414;
	width:100%;
	display:block;
	height:32px;
	border-radius:2px;
	text-transform:uppercase;
	text-align:center;
	color:#ffffff;
	border:none;
	font-size:16px;
	padding:5px 0px;
	margin-bottom:5px;
}
.f_btn{
	background:#37608c;
	margin-bottom:10px;
	}
.t_btn{
	background:#0fb3ee;
	margin-bottom:10px;
	}
.g_btn{
	background:#b41414;
	}
.social_support{
	display:block;
	text-align:center;
	font-size:14px;
	text-transform:uppercase;
	clear:both;
	color:#7a7a7a;
	letter-spacing:1px;
}
a, input, select, textarea {
    outline: medium none !important;
}
.login_outer a {
    cursor: pointer;
    text-decoration: none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
@media (max-width:600px){
	.tipster_popup_outer{width:93%!important;margin-top:28px!important;}
	.blog_dis_poopup{width:100%!important;}
}
