.orange ul.left_links li a:hover{color:#ffc814;}
.orange ul.left_links li ul li:hover{color:#ffc814;}
.orange .buy_tip{background:#ffc814;}
.motor_sport{background:url('../../images/motor_sport.png') no-repeat left bottom;background-attachment:fixed;background-size:450px auto;}
