.orange ul.left_links li a:hover{color:#ffc814;}
.orange ul.left_links li ul li:hover{color: #ffc814;}
.orange .buy_tip{background:#ffc814;}
.rugby{background:url('../../images/rugby.png') no-repeat right 50px;background-attachment:fixed;background-size:250px auto;}
@media (max-width:1024px) {
	.rugby{background-position:right bottom;}
}
