.dark_red ul.left_links li a:hover{color:#b41414;}
.dark_red ul.left_links li ul li:hover{color:#b41414;}
.football{background-image:url('../../images/football.png'), url('../../images/football2.png');background-attachment:fixed;background-size:270px auto, auto;background-position:left center, 97% 150px; background-repeat:no-repeat, no-repeat ;}
.dark_red .buy_tip{background:#b41414;}
@media (max-width:1024px) {
	.football{background-position:left bottom, 97% 80%;}
}
