@charset "utf-8";
/* CSS Document */
*{margin:0px; padding:0px;}
img{border:none;}
a{text-decoration:none;cursor:pointer;}
@font-face {
	font-family: 'Conv_HelveticaNeue-LightCond';
	src: url('../fonts/HelveticaNeue-LightCond.eot');
	src: local('☺'), url('../fonts/HelveticaNeue-LightCond.woff') format('woff'), url('../fonts/HelveticaNeue-LightCond.ttf') format('truetype'), url('../fonts/HelveticaNeue-LightCond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.container{
	width:100%;
	height:auto;
	float:left;
	}
.landing_content{
	width:100%;
	height:100%;
	position:fixed;
	left:0px;
	top:0px;
	background-color : transparent;
	z-index:2;
	background-attachment: scroll, scroll;
    background-clip: border-box, border-box;
    background-color: rgba(0, 0, 0, 0);
    background:url(../images/gradient.png);
    background-origin: padding-box, padding-box;
    background-repeat: repeat-y;
}
.logo{margin-top:40px; margin-bottom:20px; margin-left:30px; float:left;}
.home_content{
	width:100%;
	height:690px;
	float:left;
	position:absolute;
	left:0px;
	top:0px;
	z-index:3;
	}
.images{
	width:100%;
	height:690px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
	background:url(../images/img1.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='../images/img1.png',
	sizingMethod='scale');
	}
.punch_line{
	width:614px;
	height:auto;
	margin:auto;
	background:url(../images/punch_bg.png) repeat;
	border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;
	font-family: 'Conv_HelveticaNeue-LightCond', arial;
	font-size:51px;
	color:#ffffff;
	text-align:center;
	line-height:80px;
	margin-top:208px;
	}
.social{width:614px; height:auto; margin:auto;}
.social img{margin:30px 18px 0px; float:left;}
footer{
	width:100%;
	height:auto;
	float:left;
	background:#000000;
	text-align:center;
	position:absolute;
	bottom:0px;
	left:0px;
	padding:10px 0px;
	}
footer ul{width:100%; float:left; text-align:center; display:inline;}
footer ul li{display:inline; border-right:1px solid #747474;}
footer ul li a{padding:5px 10px; font:15px "Myriad Pro", arial; color:#747474;}
footer ul li:last-child{border:none;}
footer ul li a:hover{color:#aaaaaa;}
.enter{position:absolute;right:20px;top:50%;z-index:4;}
.enter_btn{display:none;}

/*////////////// popup ////////////////*/

.popup_outer{width:100%; height:100%; position:fixed; z-index:100; /*background:url(../images/popup_bg.png) repeat;*/}
.email_outer{width:330px; margin:auto; width:320px; height:170px;background:url(../images/form_bg.png) repeat; margin-top:150px; position:relative; padding:30px 35px;}
.cross{position:absolute;right:-17px;top:-17px; width:37px;}
.entry_row{width:100%; height:auto; float:left; margin-bottom:10px;}
/*.entry_row label{width:100%; float:left; height:auto; font:13px Arial, Helvetica, sans-serif; color:#b8b8b8; font-weight:bold; margin-bottom:5px;}*/
.entry_row input{width:96%; height:43px; float:left; background-color:#ffffff; color:#555555; padding:0px 2%; border-radius:2px; border:none; font-size:20px; margin-bottom:10px;}
.signin{font:16px "Myriad Pro", arial; color:#343434; padding:4px 30px; float:left; background-color:#eeeeee; border-radius:20px;}
/*/////////////////////////////// home //////////////////////////////////*/
.container_home{width:100%; height:auto; float:left;}
.cap{width:50px; height:50px; position:absolute; top:0px; left:0px; background:url(../images/cap.png) no-repeat; font:16px  "Myriad Pro", arial; color:#ffffff; padding-top:5px; padding-left:8px;}
header{
	width:100%;
	height:55px;
	float:left;
	/*background:url(../images/header_bg.png) repeat-x;*/
	background-color:#292929;
	box-shadow:0 1px 3px #000000;
	margin-bottom:5px;
	position:relative;
	}
.footer{position:inherit;}
.purchase_tip{width:222px; height:37px; float:left; background:url(../images/tips.png) no-repeat; left:12px; position:absolute;top:10px;}
.purchase_tip span{float:right; font-family:'Conv_HelveticaNeue-LightCond'; color:#e1e2e2; font-size:20px;width:173px; margin-top:-2px;}
.purchase_tip p{float:right; font-family:arial; color:#e1e2e2; font-size:12px;width:173px;}
.my_profile_outer{width:222px; height:37px; float:right; right:12px; position:absolute;top:10px;}
.serach_btn{
	padding:1px 8px;
	background:url(../images/btn_bg.jpg) repeat-x;
	border:1px solid #202020;
	float:left;
	border-radius:3px;
	margin-right:8px;
	}
.serach_btn img{
	margin-top:4px;
	}
a.green_btn{
	/*background:url(../images/green_btn.png) repeat-x;*/
		background:#0351a4;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bb700', endColorstr='#629100'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#7bb700), to(#629100)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #7bb700,  #629100); /* for firefox 3.6+ */	
    background-image: linear-gradient(#7bb700 0px, #629100 100%);
    border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
	float:left;
	padding:7px 20px;
	text-align:center;
	font:13px Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#ffffff;
	/*border-radius:3px;*/
	margin-top:2px;
	}
.green_btn:hover{border-bottom:none;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fa400', endColorstr='#557d00'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#6fa400), to(#557d00)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #6fa400,  #557d00); /* for firefox 3.6+ */	
    background-image: linear-gradient(#6fa400 0px, #557d00 100%);
	}
.content{width:100%; height:auto; float:left;}
.list_img{
	width:218px;
	height:218px;
	float:left;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	overflow:hidden;
	position:relative;
	margin:5px;
	}
.list_img img{width:100%; float:left;}
.img_detail{width:90%; height:40px; position:absolute; bottom:0px; left:0px;background:url(../images/img_detail_bg.png) repeat; font:12px Arial, Helvetica, sans-serif; color:#aaaaaa; padding:3px 5%; text-align:center;}
.img_detail b{width:100%; float:left; height:auto; padding:3px 0px; font-size:13px; color:#ffffff;}

@media (min-width: 360px) and (max-width: 720px){
.logo{float:none; margin-left:0px;}
.punch_line{width:90%; margin:12px 5% 0px 5%; float:left; font-size:40px;line-height:44px; padding:20px 0px;}
.enter_btn{width:200px; height:auto; margin:auto; display:none;}
.enter_btn a{padding:5px 0px;font-family:arial; font-size:28px;color:#ffffff; background-color:#000000;border-radius:5px; width:100%; height:35px;floaT:left; text-align:center; margin-top:32px;}
.enter{display:block;}
.social{float:none;width:100%; text-align:center;}
.social img{float:none;}
footer{height:auto;}
.images{background-size:inherit;}
.purchase_tip{position:inherit; margin:12px;}
header{height:auto; padding-bottom:20px;}
.my_profile_outer{position:inherit;}
#container{margin-top:125px!important;}
}
@media (max-width:360px){
.logo{float:none; margin-left:0px; width:80%;}
.punch_line{width:90%; margin:12px 5% 0px 5%; float:left; font-size:30px; line-height:44px; padding:20px 0px;}
.enter_btn{width:182px; height:auto; margin:auto; display:none;}
.enter_btn a{padding:5px 0px;font-family:arial; font-size:28px;color:#ffffff; background-color:#000000;border-radius:5px; width:100%; height:35px;floaT:left; text-align:center; margin-top:12px;}
.enter{display:block; top:60%;}
.social{float:none;width:87%; text-align:center;}
.social img{float:none; margin:15px 0px 0px;}
footer{height:auto;}
.social img{width:100%;}
footer ul li{float:left; width:100%; padding:3px 0px; border:none;}
footer ul li{border-bottom:1px solid #222222;}
.purchase_tip{position:inherit; margin:12px;}
header{height:auto; padding-bottom:20px;}
.my_profile_outer{position:inherit;}
.email_outer{width:63%;}
#container{margin-top:190px!important;}
}
	
	
