﻿@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../../fonts/proximanova-regular.eot');
    src: url('../../fonts/proximanova-regular.eot') format('embedded-opentype'),
         url('../../fonts/proximanova-regular.woff') format('woff'),
         url('../../fonts/proximanova-regular.ttf') format('truetype'),
         url('../../fonts/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}
@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('../../fonts/proximanova-semibold.eot');
    src: url('../../fonts/proximanova-semibold.eot') format('embedded-opentype'),
         url('../../fonts/proximanova-semibold.woff') format('woff'),
         url('../../fonts/proximanova-semibold.ttf') format('truetype'),
         url('../../fonts/proximanova-semibold.svg#ProximaNovaSemibold') format('svg');
}
@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../../fonts/proximanova-light.eot');
    src: url('../../fonts/proximanova-light.eot') format('embedded-opentype'),
         url('../../fonts/proximanova-light.woff') format('woff'),
         url('../../fonts/proximanova-light.ttf') format('truetype'),
         url('../../fonts/proximanova-light.svg#ProximaNovaLight') format('svg');
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../../fonts/proximanova-bold.eot');
    src: url('../../fonts/proximanova-bold.eot') format('embedded-opentype'),
         url('../../fonts/proximanova-bold.woff') format('woff'),
         url('../../fonts/proximanova-bold.ttf') format('truetype'),
         url('../../fonts/proximanova-bold.svg#ProximaNovaBold') format('svg');
}
@font-face {
    font-family: 'tradegothicbold_condensed';
    src: url('../fonts/tradegothic-boldcondtwenty-webfont.eot');
    src: url('../fonts/tradegothic-boldcondtwenty-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.woff') format('woff'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.svg#tradegothicbold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;
	
}
@font-face {
    font-family: 'tradegothiccondensed';
    src: url('../fonts/tradegothic-condeighteen-webfont.eot');
    src: url('../fonts/tradegothic-condeighteen-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-condeighteen-webfont.woff') format('woff'),
         url('../fonts/tradegothic-condeighteen-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-condeighteen-webfont.svg#tradegothiccondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
a{
	text-decoration:none;
}
li{
	list-style:none;
}
*{
	margin:0px;box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:0px;
}
img{
	max-width:100%;
	vertical-align:middle;
	border:none;
	outline:none;
}
body{
	margin:0px;
	padding:0px;
	font-family: 'ProximaNovaRegular', arial;
	font-size:15px;
	color:#222222;
	background:#fff;
}
.container{
	width:100%; max-width:920px;
	margin:0px auto;
}

/* Header */
.header {
  display: inline-block;
  padding:20px 0;position: absolute;
  width: 100%;
}
.logo {
  display: inline-block;
  width: 20%;
}
.login_registration {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 79%;
}
.button {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #fbfcfe;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 7px 13px;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.6);
}
.registration {
  margin-left: 10px;
}
/* Header */
/* Banner */
.banner {
  background-image: url("../../images/banner_bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  display: inline-block;
  padding-top: 130px;
  text-align: center;
  width: 100%;
}
.left_text {
  display: inline-block;
  vertical-align: top;
  width:100%; max-width:490px;
}
.left_text h1 {
  color: #fff;
  font-family: "ProximaNovaLight";
  font-size: 50px;
  margin-top: 80px;
  text-shadow: 1px 0 1px rgba(51, 51, 51, 0.75);
}
.left_text h2 {
  color: #fff;
  font-family: "ProximaNovaSemibold";
  font-size: 50px;
  text-shadow: 1px 0 1px rgba(51, 51, 51, 0.75);
}
.left_text h5 {
  color: #ffffff;
  font-size: 22px;
  margin-top: 20px;
  text-shadow: 1px 0 1px rgba(51, 51, 51, 0.75);
}
.left_text h5 span {
  font-family: "ProximaNovaBold";
}
.left_text h6 {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}
.left_text p {
  color: #ffffff;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 70px;
  margin-top: 40px;
}
.left_text a {
  background:rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  height: 52px;
  line-height: 52px;
  position: relative;
  text-align: center;
  width:100%; max-width:274px;
}
.right_image {
  display: inline-block;
  width:100%; max-width:418px;
}
/* Banner */

/* Feature content */
.features_content {
  background: none repeat scroll 0 0 #fff;
  display: inline-block;
  padding: 90px 0;
  width: 100%;
}
.features_content h1 {
  color: #222222;
  font-family: "ProximaNovaLight";
  font-size: 60px;
  text-align: center;
}
.features_content h1 span {
  color: #bb3838;
  font-family: "ProximaNovaSemibold";
}
.features_content h4 {
  font-family: "ProximaNovaLight";
  font-size: 30px;
  margin: 15px 0;
  text-align: center;
}
.system_show {
  display: inline-block;
  margin-top: 110px;
  position: relative;
  width: 100%;
}
.left_like {
  background: url("../../images/like.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
  display: inline-block;
  margin-right: 430px;
  padding-left: 33px;
  position: relative;
  vertical-align: top;
  width: 243px;
  z-index: 5;
}
.features_content h2 {
  color: #222222;
  font-family: "ProximaNovaSemibold";
  font-size: 20px;
}
.left_like img {
  left: 224px;
  position: absolute;
  top: 55px;
}
.sell_tip {
  background: url("../../images/sell_tip.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
  display: inline-block;
  margin-top: 19px;
  padding-left: 38px;
  position: relative;
  vertical-align: top;
  width: 243px;
  z-index: 5;
}
.spots {
  background: url("../../images/cycle.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
  display: inline-block;
  margin-left: 246px;
  margin-top: 280px;
  padding-left: 28px;
  position: relative;
  vertical-align: top;
  width: 243px;
  z-index: 5;
}
.sell_tip img {
  left: -179px;
  position: absolute;
  top: 36px;
}
.spots > img {
  left: 66px;
  position: absolute;
  top: -158px;
}
.mack-book {
  left: 19.5%;
  max-width: 558px;
  position: absolute;
  top: 5%;
  width: 100%;
  z-index: 2;
}
.row1 {
  display: inline-block;
  margin: 45px 0 0;
  text-align: center;
  width: 100%;
}
.lets-start {
  background: none repeat scroll 0 0 #1a1a1a;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  font-family: 'ProximaNovaSemibold';
  font-size: 20px;
  padding:14px 60px;
  width: auto;
}
/* Feature content */

/* Section */
.section {
  float: left;
  height: 300px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
.banner_img_1 {
  background-image: url("../../images/banner_img_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding:150px 0;position: relative;
}
.banner_img_2 {
  background-attachment: fixed;
  background-image: url("../../images/banner_img_1.jpg");
  background-size: cover;
  padding: 150px 0;background-repeat: no-repeat;
  position: relative;
}
.banner_img_3{
  background-image: url("../../images/banner_img_3.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding:150px 0;position: relative;
}
.drop_arrow {
  left:48%;
  position: absolute;
  top: 0;
}
/* Section */

/* Winning chance */
.chance_winning_wrapper {
  background: url("../../images/chance_winning_bg.png") no-repeat scroll 18% bottom rgba(0, 0, 0, 0);
  float: left;
  padding-top: 80px;
  position: relative;
  width: 100%;
}
.drop_arrow2 {
  left:48%;
  position: absolute;
  top: -30px;
}
.chance_winning_wrapper .mobile_1 {
  float: left;
  max-width: 291px;
  position: relative;
  top: 1px;
  width: 100%;
}
.content_section {
  float: right;
  margin: 60px 0 0;
  max-width: 470px;
  width: 100%;
}
.content_section h2 {
  color: #222222;
  float: left;font-family: 'ProximaNovaBold';
  font-size: 30px;margin-bottom:14px;
  width: 100%;
}
.content_section h2 span{ color:#bb3838;}
.content_section p {
  color: #222222;
  float: left;
  font-size: 16px;
  line-height: 22px;
  margin: 15px 0;
  width: 100%;
}
/* Winning chance */

/* Topstar */
.tipstar_wrapper {
  float: left;
  padding-top:105px;
  width: 100%;
}
.tipstar_wrapper .tablet {
  float: right;
  max-width: 500px;
  width: 100%;
}
.tipstar_wrapper .content_section {
  float: left;
  margin: 0;
  max-width: 410px;
}
/* Topstar */

/* Footer section start here */
.footer {
  background:#1a1a1a;
  display: inline-block;
  padding: 25px 0;
  width: 100%;
}
/*.left_link {
  display: inline-block;
  vertical-align: middle;
  width: 240px;
}*/
.left_link {
  float: left;
  margin-top: 12px;
  width: auto;
}
.left_link li {
  display: inline-block;
}
.left_link ul li:first-child a {
  padding-left: 0;
}
.left_link ul li a {
  color: #fff;
  font-size: 16px;
  padding: 0 5px;
}
/*.social_icon {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width:100%; max-width:675px;
}*/
.social_icon {
  float: right;
  max-width: 675px;
  text-align: right;
  width: auto;
}
.social_icon p {
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
}
.social_icon ul {
  display: inline;
}
.social_icon li {
  display: inline-block;
}
.social_icon li a {
  display: block;
  padding: 0 5px;
}

/*//////////////////////////////// popup /////////////////////////////////////*/

.popup_container_login{
	width:100%;
	height:100%;
	position:fixed;
	z-index:6;
	left:0px;
	top:0px;
	background:none repeat scroll 0 0 rgba(255, 255, 255, 0.60);
}
.popup_outer_login{
	width:437px;
	height:auto;
	padding:20px;
	background:none repeat scroll 0 0 #DCDCDC;;
	margin:auto;
	border-radius:10px;
	border:5px solid #ffffff;
	box-shadow:0px 0px 5px #aaa;
	position:relative;
	display:table;
	margin-top:131px;
}
.popup_img_login{
	position:absolute;
	top:5px;
}
.popup_outer_login h1{
	display:block;
	color:#333333;
	font-size:19px;
	border-bottom:1px dashed #bcbcbc;
	padding-bottom:15px;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:25px;
}
/*gaggy***/

.login_outer{
	font-family: 'tradegothiccondensed', arial;
	margin:auto;
	content:"";
	clear:both;
	display:block;
	margin-top:65px;
}
.login{
	width:214px;
	margin:auto;
	margin-top:20px;
	text-transform:uppercase;
}
.login input[type=text], .login input[type=password]{
	background:#fff;
	width:100%;
	height:32px;
	border-radius:2px;
	text-align:center;
	margin-bottom:13px;
	border:none;
	font-size:16px;
	font-family: 'tradegothiccondensed', arial;
}
.forgot{
	color:#7a7a7a;
	font-size:13px;
	margin:6px 2px;
	font-size:11px;
}
.login span{
	color:#7a7a7a;
	font-size:13px;
	margin:6px;
	font-size:11px;
	float:left;
}

.login_btn{
	background:#b41414;
	width:100%;
	display:block;
	height:32px;
	border-radius:2px;
	text-transform:uppercase;
	text-align:center;
	color:#ffffff;
	border:none;
	font-size:16px;
	padding:5px 0px;
	margin-bottom:5px;
}
.login_btn_twitter{
	background:#b41414;
	width:100%;
	display:block;
	height:32px;
	border-radius:2px;
	text-transform:uppercase;
	text-align:center;
	color:#ffffff;
	border:none;
	font-size:16px;
	padding:5px 0px;
	margin-bottom:5px;
}
.f_btn{
	background:#37608c;
	margin-bottom:10px;
	}
.t_btn{
	background:#0fb3ee;
	margin-bottom:10px;
	}
.g_btn{
	background:#b41414;
	}
.social_support{
	display:block;
	text-align:center;
	font-size:14px;
	text-transform:uppercase;
	clear:both;
	color:#7a7a7a;
	letter-spacing:1px;
}
a, input, select, textarea {
    outline: medium none !important;
}
.login_outer a {
    cursor: pointer;
    text-decoration: none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.error{
border:1px solid red !important;
}
.pull-right
{
float:right;
}
/* Footer section start here */



/* Responsive style */

@media screen and (max-width:950px){
.container {padding: 0 2%;}
.left_text {max-width: 53%;}
.right_image {max-width: 46%;}
.banner { padding-top: 90px;}
.left_text h1 {font-size:40px;margin-top: 35px;}
.left_text p { margin-bottom:35px;margin-top: 30px;}
.chance_winning_wrapper .mobile_1 {max-width: 39%;}
.content_section {max-width: 58%;}
.tipstar_wrapper .content_section {max-width: 40%;}
.tipstar_wrapper .tablet {margin: 49px 0 0;max-width: 60%;}
.content_section p {margin: 0;}
.left_like {margin-right: 47%;width: 25%;}
.left_like img {left: 150px;top: 40px;}
.sell_tip img {left: -159px;top: 24px;}
.spots {margin-left:22%;margin-top: 26%;width: 33%;}
.spots img {left: 60px; top: -167px;}
.sell_tip { width: 25%;}
.mack-book {max-width: 58%;}
.social_icon {max-width: 50%;float: right;}
}
@media screen and (max-width:768px){
.header {text-align: center;}
.login_registration {margin: 35px 0 0;text-align: center;width: 100%;}
.button {width: 30%;}
.banner {padding-top: 180px;}
.right_image {display: none;}
.left_text {max-width: 100%;margin-bottom:100px;}
.logo {width: auto;}
.left_text h1 {font-size: 45px;margin-top: 25px;}
.left_text h2 { font-size: 45px;}
.drop_arrow2 {left: 44%;}
.chance_winning_wrapper {padding-top: 55px;text-align: center;}
.content_section {margin: 0;max-width: 100%;text-align: left;}
.content_section h2 {font-size: 26px;font-family: 'ProximaNovaRegular';}
.content_section p {font-size: 15px;}
.chance_winning_wrapper .mobile_1 {max-width: 291px;float: none;display: inline-block;margin: 30px 0 0;}
.container {padding: 0 30px;}
.drop_arrow {left: 44%;}
.banner_img_2 {background-attachment: scroll;background-size: 100% auto;padding: 23% 0;}
.section {height: auto;}
.drop_arrow {display: none;}
.tipstar_wrapper {padding-top: 55px;text-align: center;}
.tipstar_wrapper .content_section {max-width: 100%;}
.tipstar_wrapper .tablet {margin: 30px 0 0; max-width: 500px;}
.banner_img_1 {background-attachment: scroll;background-size: 100% auto;padding: 23% 0;}
.features_content {padding: 50px 0;}
.features_content h1 {font-size: 40px;width: 100%;}
.features_content h4 {font-size: 18px;}
.system_show {margin-top: 25px;text-align: center;}
.left_like {margin-right: 0;width: 100%;text-align: left;}
.sell_tip {width: 100%;margin-top: 23px;text-align: left;}
.spots {margin-left: 0;width: 100%;margin-top: 23px;text-align: left;}
.left_like img {display: none;}
.sell_tip img {display: none;}
.spots img {display: none;}
.mack-book {left: 0;max-width:558px; position: relative; top: 30px;}
.banner_img_3 {background-attachment: scroll;background-size: 100% auto;padding: 23% 0;}
.footer {text-align: center;}
.social_icon {float: none;margin:15px 0 0;max-width: 100%;text-align: center;}
.social_icon p {display: none;}
.login_outer{margin:65px auto;}	
}
@media screen and (max-width:600px){
	.popup_outer_login{width:94%;
		margin:12% auto;
		
		float:none;
	}
	.popup_outer_login iframe{width:100% !important}
}
@media screen and (max-width:480px){
.button {width: 46%;}
.left_text h1 {font-size: 42px;margin-top: 0;}
.lets-start {padding: 14px 20px;width: 100%;}
}
@media screen and (max-width:375px){
	.left_text{margin-top:46px;}
	.login_registration input{margin-bottom:10px;}
}
@media (max-width:1200px) {	.login_outer{margin:65px auto;}}
/* Responsive style */
