.sky ul.left_links li a:hover{color:#0fb3ee;}
.sky ul.left_links li ul li:hover{color: #0fb3ee;}
.sky .buy_tip{background:#0fb3ee;}
.surfing{background:url('../../images/surfing.png') no-repeat left 50px;background-attachment:fixed;background-size:340px auto;}
@media (max-width:1024px) {
	.surfing{background-position:left bottom;}
}
