.tennis{background:url('../../images/tennis.png') no-repeat left 60px;background-attachment:fixed; background-size:205px auto;}
.green ul.left_links li a:hover{color:#65D2D0;}
.green ul.left_links li ul li:hover{color:#65D2D0;}
.green .buy_tip{background:#60D1CF;}
@media (max-width:1024px) {
	.tennis{background-position:left bottom;}
	
}
