@font-face {
    font-family: 'tradegothicbold_condensed';
    src: url('../fonts/tradegothic-boldcondtwenty-webfont.eot');
    src: url('../fonts/tradegothic-boldcondtwenty-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.woff') format('woff'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.svg#tradegothicbold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tradegothiccondensed';
    src: url('../fonts/tradegothic-condeighteen-webfont.eot');
    src: url('../fonts/tradegothic-condeighteen-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-condeighteen-webfont.woff') format('woff'),
         url('../fonts/tradegothic-condeighteen-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-condeighteen-webfont.svg#tradegothiccondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular.eot') format('embedded-opentype'),
         url('../fonts/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova-regular.ttf') format('truetype'),
         url('../fonts/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}
@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('../fonts/proximanova-semibold.eot');
    src: url('../fonts/proximanova-semibold.eot') format('embedded-opentype'),
         url('../fonts/proximanova-semibold.woff') format('woff'),
         url('../fonts/proximanova-semibold.ttf') format('truetype'),
         url('../fonts/proximanova-semibold.svg#ProximaNovaSemibold') format('svg');
}
@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../fonts/proximanova-light.eot');
    src: url('../fonts/proximanova-light.eot') format('embedded-opentype'),
         url('../fonts/proximanova-light.woff') format('woff'),
         url('../fonts/proximanova-light.ttf') format('truetype'),
         url('../fonts/proximanova-light.svg#ProximaNovaLight') format('svg');
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot') format('embedded-opentype'),
         url('../fonts/proximanova-bold.woff') format('woff'),
         url('../fonts/proximanova-bold.ttf') format('truetype'),
         url('../fonts/proximanova-bold.svg#ProximaNovaBold') format('svg');
}
@font-face {
    font-family: 'tradegothicbold_condensed';
    src: url('../fonts/tradegothic-boldcondtwenty-webfont.eot');
    src: url('../fonts/tradegothic-boldcondtwenty-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.woff') format('woff'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-boldcondtwenty-webfont.svg#tradegothicbold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;
	
}
@font-face {
    font-family: 'tradegothiccondensed';
    src: url('../fonts/tradegothic-condeighteen-webfont.eot');
    src: url('../fonts/tradegothic-condeighteen-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-condeighteen-webfont.woff') format('woff'),
         url('../fonts/tradegothic-condeighteen-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-condeighteen-webfont.svg#tradegothiccondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
a{
	text-decoration:none;
}
li{
	list-style:none;
}
*{
	margin:0px;box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:0px;
}
img{
	max-width:100%;
	vertical-align:middle;
	border:none;
	outline:none;
}

body{
	margin:0px;
	padding:0px;
	font-family: 'ProximaNovaRegular', arial;
	font-size:15px;
	color:#222222;
	background:#fff;
}
.container{

	margin:0px auto;
	text-align: left;
}

/* Header */

.header {
  display: inline-block;
  padding:20px 0;position: absolute;
  width: 100%;
}
.logo {
  display: inline-block;
  width: 20%;
}
.login_registration {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 79%;
}
.header_button {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #fbfcfe;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 7px 13px;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.6);
}
.registration {
  margin-left: 10px;
}
/* Header */
/* Banner */
.banner {
  background-image: url("../images/banner_bg1.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  display: inline-block;
  padding-top: 130px;
  text-align: center;
  width: 100%;
     background-size: cover;
}
.left_text {
  display: inline-block;
  vertical-align: top;
  width:100%; max-width:504px;
}
.left_text h1 {
  color: #fff;
  font-family: "ProximaNovaLight";
  font-size: 50px;
  margin-top: 80px;
  text-shadow: 1px 0 1px rgba(51, 51, 51, 0.75);
}
.left_text h2 {
  color: #fff;
  font-family: "ProximaNovaSemibold";
  font-size: 50px;
  text-shadow: 1px 0 1px rgba(51, 51, 51, 0.75);
}
.left_text h5 {
  color: #ffffff;
  font-size: 22px;
  margin-top: 20px;
  text-shadow: 1px 0 1px rgba(51, 51, 51, 0.75);
}
.footer_txt {
 background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    border: 1px solid rgb(125, 125, 123);
    border-radius: 6px;
    box-shadow: 0 0 11px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto;
    padding: 25px 19px;
    width: 70%;
}
.left_text h5 span {
  font-family: "ProximaNovaBold";
}
.left_text h6 {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}
.left_text p {
  color: #ffffff;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 50px;
  margin-top: 40px;
}
.left_text a {
  background:rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  height: 52px;
  line-height: 52px;
  position: relative;
  text-align: center;
  width:100%; max-width:274px;
}
.right_image {
  display: inline-block;
  width:100%; max-width:412px;
}
/* Banner */

/* Feature content */
.features_content {
  background: none repeat scroll 0 0 #fff;
  display: inline-block;
  padding: 90px 0;
  width: 100%;
}
.features_content h1 {
  color: #222222;
  font-family: "ProximaNovaLight";
  font-size: 60px;
  text-align: center;
}
.features_content h1 span {
  color: #bb3838;
  font-family: "ProximaNovaSemibold";
}
.features_content h4 {
  font-family: "ProximaNovaLight";
  font-size: 30px;
  margin: 15px 0;
  text-align: center;
}
.system_knowledge {
  display: inline-block;
  margin-top: 25px;
  position: relative;
  width: 100%;
}
.left_like {
  background: url("../images/like.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
  display: inline-block;
  margin-right: 430px;
  padding-left: 33px;
  position: relative;
  vertical-align: top;
  width: 236px;
  z-index: 5;
   margin-top: 36px;
}
.left_like > p {
  padding-right: 12px;
}
.features_content h2 {
background: rgba(0, 0, 0, 0) url("../images/text_bg.png") no-repeat scroll left top;
    color: rgb(255, 255, 255);
    font-family: "ProximaNovaSemibold";
    font-size: 20px;
    padding: 6px 38px;
    margin-bottom: 12px;
}
.left_like img {
left: 213px;
    position: absolute;
    top: 69px;
}
.patron {
  background: url("../images/sell_tip.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
  display: inline-block;
  margin-top: 19px;
  padding-left: 38px;
  position: relative;
  vertical-align: top;
  width: 243px;
  z-index: 5; margin-top: 38px;
}
.spots {
  background: url("../images/cycle.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
  display: inline-block;
  margin-left: 246px;
  margin-top: 182px;
  padding-left: 28px;
  position: relative;
  vertical-align: top;
  width: 243px;
  z-index: 5;
}
.patron img {
 left: -149px;
    position: absolute;
    top: 111px;
}
.spots > img {
  left: 66px;
  position: absolute;
  top: -158px;
}
.mac-book {
  left: 19.5%;
  max-width: 558px;
  position: absolute;
  top: 5%;
  width: 100%;
  z-index: 2;
}
.row1 {
  display: inline-block;
  margin: 45px 0 0;
  text-align: center;
  width: 100%;
}
.lets-start {
  background: none repeat scroll 0 0 #1a1a1a;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  font-family: 'ProximaNovaSemibold';
  font-size: 22px;
  padding:11px 60px;
  width: auto;
}
/* Feature content */

/* Section */
.section {
  float: left;
  height: 300px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
.banner_img {
  background-image: url("../images/banner_bg_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding:150px 0;position: relative;
}
.banner_bg_1  {
  background-attachment: fixed;
  background-image: url("../images/banner_img_2.png");
  background-size: cover;
  padding: 150px 0;background-repeat: no-repeat;
  position: relative;
}
.banner_img_3{
  background-image: url("../images/footer_bg.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding:102px 0;
  position: relative;
}
.drop_arrow {
  left:48%;
  position: absolute;
  top: 0;
}
/* Section */

/* Winning chance */
.chance_winning_wrapper {
  background: url("../images/chance_winning_bg.png") no-repeat scroll 18% bottom rgba(0, 0, 0, 0);
  float: left;
  padding-top: 80px;
  position: relative;
  width: 100%;
  height: 491px;
}
.drop_arrow2 {
  left:48%;
  position: absolute;
  top: -30px;
}
.chance_winning_wrapper .phone {
  bottom: 0;
  float: left;
  position: absolute;
  margin-left: -103px;
}
.content_section {
  float: right;
  margin: 60px 0 0;
  max-width: 470px;
  width: 100%;
}
.content_section h2 {
  color: #222222;
  float: left;font-family: 'ProximaNovaBold';
  font-size: 30px;margin-bottom:14px;
  width: 100%;
}
.content_section h2 span{ color:#bb3838;}
.content_section p {
  color: #222222;
  float: left;
  font-size: 16px;
  line-height: 22px;
  margin: 15px 0;
  width: 100%;
}
/* Winning chance */

/* Topstar */
.tipstar_wrapper {
  float: left;
  padding-top:105px;
  width: 100%;
}
.tipstar_wrapper .tablet {
  float: right;
  max-width: 500px;
  width: 100%;
   margin-right: -55px;
}
.tipstar_wrapper .content_section {
  float: left;
  margin: 0;
  max-width: 473px;
}
/* Topstar */

/* Footer section start here */
.footer {
  background:#1a1a1a;
  display: inline-block;
  padding: 25px 0;
  width: 100%;
}

.left_link {
  float: left;
  margin-top: 12px;
  width: auto;
}
.left_link li {
  display: inline-block;
}
.left_link ul li:first-child a {
  padding-left: 0;
}
.left_link ul li a {
  color: #fff;
  font-size: 16px;
  padding: 0 5px;
}

.social_icon {
  float: right;
  max-width: 675px;
  text-align: right;
  width: auto;
}
.social_icon p {
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
}
.social_icon ul {
  display: inline;
}
.social_icon li {
  display: inline-block;
}
.social_icon li a {
  display: block;
  padding: 0 5px;
}



/***********************new-changes********************/
.caption{font-size:50px;line-height:45px;color:#fff;text-shadow:0px 0px 2px rgba(51,51,51,0.79);}
.caption span {
    font-family: proximanovasemibold;
}
.left_text a.btn-banner {
    font-size: 22px;
    margin: 0 12.5px;
    max-width: 187px;
    text-transform: uppercase;
}
/*************************end*******************/
/*******************login**********************/
.login_outer {
    clear: both;
    content: "";
    display: block;
    margin: 65px auto auto;
    width: 310px;
}
.login {
    margin: 20px auto auto;
    text-transform: uppercase;
    width: 214px;
}
.login input[type="text"], .login input[type="password"] {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px;
    font-size: 16px;
    height: 32px;
    margin-bottom: 13px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
     font-family: "tradegothiccondensed";
}
.forgot {
    color: #fff;);
    font-size: 11px;
    margin: 6px 2px;
}
.login span {
    color: #fff;
    float: left;
    font-size: 11px;
    margin: 6px;
}
.login_btn {
    background: rgb(180, 20, 20) none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    height: 32px;
    margin-bottom: 5px;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    float:left;
    font-family: "tradegothiccondensed";
}
.f_btn {
    background: rgb(55, 96, 140) none repeat scroll 0 0;
    margin-bottom: 10px;
}
.t_btn {
    background: rgb(15, 179, 238) none repeat scroll 0 0;
    margin-bottom: 10px;
}
.g_btn {
    background: rgb(180, 20, 20) none repeat scroll 0 0;
}
.social_support {
    clear: both;
    color: rgb(122, 122, 122);
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.home {

  width: 100%;
}
.bg_image {
  background-attachment: fixed;
  background-image: url("../../images_new/login_img.png"), url("../../images_new/banner_bg1.jpg");
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: auto auto, 100% auto;
}
.pull-right.forgot { float: right;}
.login_btn.sign {
  margin-right: 10px;
  width: 45%;

}
.criteria{margin-bottom: 6px;}
/*********edit-profile************/
.content {
  display: block;
  margin-top: 5px;
  min-height: 660px;
  text-align: left;
}
.sport {
  background: rgba(0, 0, 0, 0) url("../images/amarican_football.png") no-repeat fixed left bottom / 300px auto;
}
.green ul.left_links li a:hover {
    color: rgb(101, 210, 208);
}
.green .buy_tip {
    background: rgb(96, 209, 207) none repeat scroll 0 0;
}
.blue ul.left_links li a:hover {
    color: rgb(40, 136, 201);
}
.blue .buy_tip {
    background: rgb(40, 136, 201) none repeat scroll 0 0;
}
.red ul.left_links li a:hover {
    color: rgb(237, 40, 27);
}
.red .buy_tip {
    background: rgb(237, 40, 27) none repeat scroll 0 0;
}
.black ul.left_links li a:hover {
    color: rgb(0, 0, 0);
}
.black .buy_tip {
    background: rgb(0, 0, 0) none repeat scroll 0 0;
}
.dark_red ul.left_links li a:hover {
    color: rgb(180, 20, 20);
}
.dark_red .buy_tip {
    background: rgb(180, 20, 20) none repeat scroll 0 0;
}
.orange ul.left_links li a:hover {
    color: rgb(255, 200, 20);
}
.orange .buy_tip {
    background: rgb(255, 200, 20) none repeat scroll 0 0;
}
.sky ul.left_links li a:hover {
    color: rgb(15, 179, 238);
}
.sky .buy_tip {
    background: rgb(15, 179, 238) none repeat scroll 0 0;
}
.tennis {
    background: rgba(0, 0, 0, 0) url("../images/tennis.png") no-repeat fixed left 60px / 205px auto;
}
.boxing {
    background: rgba(0, 0, 0, 0) url("../images/boxing.png") no-repeat fixed left bottom;
}
.cricket {
    background: rgba(0, 0, 0, 0) url("../images/cricket.png") no-repeat fixed right 50px / 215px auto;
}
.golf {
    background: rgba(0, 0, 0, 0) url("../images/golf.png") no-repeat fixed left 70px / 270px auto;
}
.baseball {
    background: rgba(0, 0, 0, 0) url("../images/baseball.png") no-repeat fixed left 70px / 210px auto;
}
.football {
    background: rgba(0, 0, 0, 0) url("../images/football.png") no-repeat fixed left 60% / 270px auto;
}
.ice_hockey {
    background: rgba(0, 0, 0, 0) url("../images/ice_hockey.png") no-repeat fixed left 100px / 350px auto;
}
.rugby {
    background: rgba(0, 0, 0, 0) url("../images/rugby.png") no-repeat fixed right 50px / 250px auto;
}
.surfing {
    background: rgba(0, 0, 0, 0) url("../images/surfing.png") no-repeat fixed left 50px / 340px auto;
}
.amarican_football {
    background: rgba(0, 0, 0, 0) url("../images/amarican_football.png") no-repeat fixed left bottom / 265px auto;
}
.motor_sport {
    background: rgba(0, 0, 0, 0) url("../images/motor_sport.png") no-repeat fixed left bottom / 450px auto;
}
.martial {
    background: rgba(0, 0, 0, 0) url("../images/martial.png") no-repeat fixed right bottom / 250px auto;
}
.amarican_rule {
    background: rgba(0, 0, 0, 0) url("../images/amarican_rule.png") no-repeat fixed right bottom / 250px auto;
}
.edit_profile {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  display: block;
  height: 43px;
  padding: 10px;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
top:0;
}
label.option {
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-right: 10px;
  text-transform: none;
  width: auto;
}
.body_bg_color{ background: rgb(220, 220, 220) none repeat scroll 0 0;
    font-family: "tradegothiccondensed",arial;
    font-size: 13px;
    font-weight: normal;}
.username {
    color: rgb(255, 255, 255);
    font: 30px/32px "tradegothicbold_condensed";
    margin-top: -8px;
}
.blog_row {
    border-bottom: 1px solid rgb(255, 255, 255);
    float: left;
    padding: 2px 0 1px;
    width: 100%;
}
div.blog_row:last-child{
	border:none;
}
.right_content > div.blog:nth-child(2n+2){
	margin-right:0px;
}
footer{
	color:#ffffff;
	font-size:11px;
	background:url('../images/footer_2_bg.png') no-repeat 10px center #000000;
	text-align:center;
	padding:10px 60px;
	position:fixed;
	width:100%;
	bottom:0px;
}
.username{
	font:30px 'tradegothicbold_condensed';
	color:#ffffff;
	margin-top:-8px;
	line-height:32px;
}
.but_tip_coach{
	display:block;
	margin-top:20px;
}
.but_tip_coach span{
	padding:10px 0px;
	border-bottom:1px solid #ffffff;
	color:#ffffff;
	font-size:18px;
	text-transform:uppercase;
	display:block;
}
.but_tip_coach span:last-child{
	border:none;
}
.but_tip_coach a{
	display:inline-block;
	float:right;
	background:#2888c9;
	color:#ffffff;
	text-align:center;
	border-radius:3px;
	margin-top:4px;
	font-size:12px;
	padding:2px 10px 1px;
}
ul.left_links li a {
  color: rgb(119, 119, 119);
  display: block;
  padding: 4px 0;
  text-transform: uppercase;
    font: 12px 'tradegothiccondensed';
}
.but_tip_coach {
  display: block;
  margin-top: 20px;
}
.coach_blog{
	margin-left:80px;
}

.blog_img {
  display: inline-block;
}
div.blog_row:last-child {
  border: medium none;
}
.blog_dis {
  float: right;
  margin-left: 5px;
  width: 150px;
}
#page_content {
  display: inline-block;
  float: right;
}
.right_content {
  width: 645px;
}
.blog_row {
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgb(119, 119, 119);
  float: left;
  padding: 2px 0 1px;
  width: 100%;
}
.widthdraw_heading {
  border-bottom: 1px solid rgb(255, 255, 255);
  color:rgb(119, 119, 119);
  font-family: "tradegothicbold_condensed";
  font-size: 22px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.rugby {
  background: rgba(0, 0, 0, 0) url("../images/rugby.png") no-repeat fixed right 50px / 250px auto;
}
.input_txt {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  border: medium none;
  display: inline-block;
  height: 27px;
  padding: 4px;
  width: 183px;
}
.widthdraw.my_pro label {
  font-weight: normal;
}
.widthdraw > span {
  display: inline-block;
  width: 120px;
  border: none;
  color: rgb(119, 119, 119);
}
.widthdraw label {
  color: rgb(119, 119, 119);
  display: inline-block;
  font-size: 17px;
  padding-right: 5px;
  padding-top: 6px;
  text-align: right;
  width: 120px;
  font-weight: bold;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
label.option {
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-right: 10px;
  text-transform: none;
  width: auto;
}
.widthdraw input[type="radio"] {
  display: inline-block;
  height: auto;
  margin-top: 3px;
  width: auto;
}
.sort span {
  color: rgb(122, 122, 122);
  display: inline-block;
  text-transform: uppercase;
}
.sort a {
  color: rgb(122, 122, 122);
  display: inline-block;
  padding: 0 5px;
}
.main_outer {
  margin-bottom: 50px;
  margin-top: 70px;
}
.sort {
  border-top: 1px solid rgb(255, 255, 255);
  display: block;
  font: 12px "tradegothicbold_condensed";
  margin-top: 5px;
  padding: 15px 0;
  text-align: center;
}
header span {
  line-height: 25px;
  padding: 0 5px;
   font: 12px 'tradegothiccondensed';
}
.stickyribbon {
        color: #fff;
        width:150px; 
        display:inline-block;
}
#page_content {
       display:inline-block;
       float:right;
}
.blog {
  display: inline-block;
  height: auto;
  margin-bottom: 45px;
  margin-right: 27px;
  text-transform: uppercase;
  width: 307px;
}
ul.left_links li span {
  color: rgb(0, 0, 0);
  font: 12px "tradegothicbold_condensed";
  text-transform: uppercase;
}
.media_link {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
.search {
  background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll right center;
  border: medium none;
  border-radius: 5px;
  box-shadow: 0 2px 0 rgb(221, 221, 221);
  float: right;
  height: 25px;
  padding: 0 30px 0 5px;
  text-transform: uppercase;
  width:175px;
  font: 12px 'tradegothiccondensed';
}
/* Responsive style */

@media screen and (max-width:980px){
.stickyribbon {

  width: 122px;
}
.btn-banner {margin-bottom: 14px !important;}
.container {padding: 0 2%;}
.left_text {max-width: 53%;}
.right_image {max-width: 46%;}
.banner { padding-top: 90px;}
.left_text h1 {font-size:40px;margin-top: 35px;}
.left_text p { margin-bottom:35px;margin-top: 30px;}
.chance_winning_wrapper .phone {max-width: 60%; position: relative;}


.chance_winning_wrapper { height: auto;}
.content_section {max-width: 58%;}
.tipstar_wrapper .content_section {max-width: 40%;}
.tipstar_wrapper .tablet {margin: 49px 0 0;max-width: 60%;}
.content_section p {margin: 0;}
.left_like {margin-right: 47%;width: 25%;}
.left_like img {left: 150px;top: 40px;}
.patron img {left: -159px;top: 24px;}
.spots {margin-left:22%;margin-top: 26%;width: 33%;}
.spots img {left: 60px; top: -167px;}
.patron { width: 25%;}
.mac-book {max-width: 58%;}
.social_icon {max-width: 50%;float: right;}
.bg_image {
  background-attachment: fixed;
  background-image: none, url("../images/banner_bg1.jpg");
  background-position: right top, left top;
  background-repeat: no-repeat;
  background-size:cover;
}
	.sports_outer{width:auto; display:block;}
	 ul.sports_list li a.no_border{border-bottom:1px solid #ffffff;}
	 .right_content{width:305px;}
	 .coach_blog{margin-left:0px;}
	 .teams span{width:45%; font-size:18px;}
	 .teams p{font-size:18px; width:10%;}
	 .curn_tip{width:100%; margin-bottom:30px;}
	 .wiresult{padding-left:0px;}
	 .result_img{width:134px;}
}
@media screen and (max-width:768px){


.header {text-align: center;}
.login_registration {margin: 35px 0 0;text-align: center;width: 100%;}
.header_button {width: 44%;}
.banner {padding-top: 180px;}
.right_image {display: none;}
.left_text {max-width: 100%;margin-bottom:100px;}
.logo {width: auto;}
.left_text h1 {font-size: 35px;margin-top: 25px;line-height: 29px;}
.left_text h2 { font-size: 45px;}
.drop_arrow2 {left: 44%;}
.chance_winning_wrapper {padding-top: 55px;text-align: center;}
.content_section {margin: 0;max-width: 100%;text-align: left;}
.content_section h2 {font-size: 26px;font-family: 'ProximaNovaRegular';}
.content_section p {font-size: 15px;}
.chance_winning_wrapper .phone {max-width: 289px;float: none;display: inline-block;margin: 30px 0 0;}
.container {padding: 0 30px;}
.drop_arrow {left: 44%;}
.banner_bg_1  {background-attachment: scroll;background-size: 100% auto;padding: 23% 0;}
.section {height: auto;}
.drop_arrow {display: none;}
.tipstar_wrapper {padding-top: 55px;text-align: center;}
.tipstar_wrapper .content_section {max-width: 100%;}
.tipstar_wrapper .tablet {margin: 30px 0 0; max-width: 500px;}
.banner_img {background-attachment: scroll;background-size: 100% auto;padding: 23% 0;}
.features_content {padding: 50px 0;}
.features_content h1 {font-size: 40px;width: 100%;}
.features_content h4 {font-size: 18px;}
.system_knowledge {margin-top: 25px;text-align: center;}
.left_like {margin-right: 0;width: 100%;text-align: left;}
.patron {width: 100%;margin-top: 23px;text-align: left;}
.spots {margin-left: 0;width: 100%;margin-top: 23px;text-align: left;}
.left_like img {display: none;}
.patron img {display: none;}
.spots img {display: none;}
.mac-book {left: 0;max-width:558px; position: relative; top: 30px;}
.banner_img_3 {background-attachment: scroll;background-size: 100% auto;padding: 23% 0;}
.footer {text-align: center;}
.social_icon {float: none;margin:15px 0 0;max-width: 100%;text-align: center;}
.social_icon p {display: none;}
.login_outer{margin:65px auto;}	
.banner_img_3 {  background-size: cover!important;}
.left_link {margin-top: 0;width: 100%;margin-bottom: 12px;}
.social_icon > ul { float: left;width: 100%;}
.stickyribbon{position:static!important;}
	footer{position:static;}
	.rugby{background:none;}
}
@media screen and (max-width:600px){
	.popup_outer_login{width:94%;
		margin:12% auto;
		
		float:none;
	}
	.popup_outer_login iframe{width:100% !important}
	
.lets-start { font-size: 15px;}
.footer_txt { font-size: 18px;}
ul.left_links li a {
  border-bottom: 1px solid rgb(187, 187, 187);
}
.stickyribbon {
  width: 100%;
}
#page_content{ float:left;}
}
@media screen and (max-width:480px){
.header_button {width: 46%;margin-bottom: 10px;}
.left_text h1 {font-size: 42px;margin-top: 0;}
.lets-start {padding: 14px 20px;width: 100%;}
.left_text h1 {
  font-size: 30px;
  line-height: 27px;
}
.left_text a.btn-banner {
margin-bottom:13px;
}
	ul.left_links{width:115px;}
	.coach_blog{display:block;}
	.stickyribbon{ display:block; position:static!important; width:auto;}
	#page_content{ float:left;}
	.container{ width:auto;}
	ul.left_links li a{border-bottom:1px solid #bbb;}
	ul.left_links{width:100%;}

}
@media screen and (max-width:375px){
	.left_text{margin-top:46px;}
	.login_outer { width: 100%;}
	.input_txt {width: 152px;}
	.blog_dis {  width: 135px;}
	.blog {width: 282px;}
}
